@import url("../CherryFramework/style.css");
@import url(//fonts.googleapis.com/css?family=Lobster|Open+Sans:300,400,600,700,800);
.main-holder { overflow:hidden; }
@media (max-width: 767px) {
	body { padding:0; }
	body .header { padding:0 20px 0 20px; }
	body .footer {
		padding:20px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	body .content-holder { padding:0 20px 0 20px !important; }
	body.home .content-holder { padding:20px 20px 0 20px !important; }
}
a { transition:all 0.3s ease 0s; }
h1, h2, h3, h4, h5, h6 { text-transform:uppercase; }
@media (min-width: 768px) and (max-width: 979px) {
	h1 {
		font-size:20px !important;
		letter-spacing:0 !important;
		line-height:1.2em !important;
	}
}
.featured-thumbnail, .thumbnail, figure.frame {
	background:none;
	border-radius:0;
	padding:0;
	border:none;
	box-shadow:none;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.featured-thumbnail img, .thumbnail img, figure.frame img {
	display:inline-block;
	border:none;
	background:none;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
figure.frame {
	margin-bottom:10px;
	margin-right:30px;
	margin-left:0;
	text-align:left;
}
figure.frame p { margin:0 !important; }
@media (max-width: 767px) {
	figure.frame { text-align:left; }
}
figure.frame.alignnone { margin:30px 0 25px; }
figure.frame.alignleft { margin:2px 20px 10px 0; }
@media (max-width: 979px) {
	figure.frame.alignleft {
		margin:0 0 20px 0;
		float:none;
	}
}
figure.frame.alignright { margin:0 0 20px 10px; }
@media (min-width: 768px) and (max-width: 979px) {
	figure.frame.alignright {
		float:none;
		margin:0 0 20px 0;
	}
}
@media (max-width: 480px) {
	figure.frame.alignright {
		float:none;
		margin:20px 0 20px 0;
	}
}
.btn, .reply a {
	position:relative;
	display:inline-block;
	border-radius:0;
	border:none;
	color:#900035;
	text-shadow:none;
	font:bold 13px/1.2em 'Open Sans', sans-serif;
	text-transform:lowercase;
	padding:0 0 1px 0;
	border-bottom:1px solid #900035;
	letter-spacing:0;
	height:auto;
	box-shadow:none;
	text-decoration:none;
	z-index:10;
	background:none;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	transition:all 0.3s ease 0s;
}
.btn:hover, .btn:active, .reply a:hover, .reply a:active {
	background:none;
	text-decoration:none;
	color:#8e805f;
	border-color:#8e805f;
	box-shadow:none;
}
.btn:focus, .reply a:focus {
	color:#900035;
	border-color:#900035;
	box-shadow:none;
	background:none;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	padding:7px 10px;
	margin:0 0 10px 0;
	font-size:13px;
	line-height:1.3em;
	text-transform:none;
	color:#8e805f;
	text-decoration:none;
	position:relative;
	border-radius:0;
	background:#e4dbc3;
	box-shadow:none;
	border:1px solid #cbc2ac !important;
	transition:all 0.3s ease 0s;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
	background:none;
	box-shadow:none;
	border-color:#e4dbc3 !important;
}
.wpcf7 .wpcf7-form p { margin-bottom:10px; }
.wpcf7 .wpcf7-form p input[type="text"], .wpcf7 .wpcf7-form p input[type="email"] {
	margin:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.wpcf7 .wpcf7-form p input[type="text"]:focus, .wpcf7 .wpcf7-form p input[type="email"]:focus { border-color:#d8d8d8 !important; }
.wpcf7 .wpcf7-form textarea {
	padding:10px 5px;
	margin-bottom:10px;
}
.wpcf7 .wpcf7-form textarea:focus { border-color:#d8d8d8 !important; }
.wpcf7 .wpcf7-form .btn-align { text-align:right; }
.wpcf7 .wpcf7-form .btn-align input[type="submit"], .wpcf7 .wpcf7-form .btn-align input[type="reset"] {
	height:auto;
	margin-left:10px;
}
.wpcf7 .wpcf7-form .btn-align div.ajax-loader {
	float:left;
	margin-left:10px;
}
.wpcf7 .wpcf7-form .wpcf7-not-valid-tip { padding:5px 10px !important; }
@media (min-width: 768px) and (max-width: 979px) {
	.wpcf7 .wpcf7-form .wpcf7-not-valid-tip { font-size:9px !important; }
}
.wpcf7 .wpcf7-form .submit-wrap .btn {
	padding:0;
	height:auto;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input { outline:none; }
select:-moz-placeholder, textarea:-moz-placeholder, input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="datetime"]:-moz-placeholder, input[type="datetime-local"]:-moz-placeholder, input[type="date"]:-moz-placeholder, input[type="month"]:-moz-placeholder, input[type="time"]:-moz-placeholder, input[type="week"]:-moz-placeholder, input[type="number"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="url"]:-moz-placeholder, input[type="search"]:-moz-placeholder, input[type="tel"]:-moz-placeholder, input[type="color"]:-moz-placeholder, .uneditable-input:-moz-placeholder { color:#8e805f; }
select:-ms-input-placeholder, textarea:-ms-input-placeholder, input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="datetime"]:-ms-input-placeholder, input[type="datetime-local"]:-ms-input-placeholder, input[type="date"]:-ms-input-placeholder, input[type="month"]:-ms-input-placeholder, input[type="time"]:-ms-input-placeholder, input[type="week"]:-ms-input-placeholder, input[type="number"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="url"]:-ms-input-placeholder, input[type="search"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="color"]:-ms-input-placeholder, .uneditable-input:-ms-input-placeholder { color:#8e805f; }
select::-webkit-input-placeholder, textarea::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="datetime"]::-webkit-input-placeholder, input[type="datetime-local"]::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder, input[type="month"]::-webkit-input-placeholder, input[type="time"]::-webkit-input-placeholder, input[type="week"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="url"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="color"]::-webkit-input-placeholder, .uneditable-input::-webkit-input-placeholder { color:#8e805f; }
select::-moz-placeholder, textarea::-moz-placeholder, input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="datetime"]::-moz-placeholder, input[type="datetime-local"]::-moz-placeholder, input[type="date"]::-moz-placeholder, input[type="month"]::-moz-placeholder, input[type="time"]::-moz-placeholder, input[type="week"]::-moz-placeholder, input[type="number"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="url"]::-moz-placeholder, input[type="search"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="color"]::-moz-placeholder, .uneditable-input::-moz-placeholder {
	color:#8e805f;
	opacity:1;
}
.header {
	margin:0;
	padding:0;
	border:none;
}
.header-wrap {
	position:absolute;
	width:1170px;
	left:50%;
	top:405px;
	margin-left:-585px;
	z-index:20;
}
@media (min-width: 1200px) and (max-width: 1600px) {
	.header-wrap { top:272px; }
}
@media (min-width: 979px) and (max-width: 1200px) {
	.header-wrap {
		width:940px;
		margin-left:-470px;
		top:110px;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.header-wrap {
		width:724px;
		margin-left:-362px;
		top:45px;
	}
}
@media (max-width: 767px) {
	.header-wrap {
		position:relative;
		width:100%;
		left:0;
		margin-left:0;
		top:0;
	}
}
.home .header-wrap { top:567px; }
@media (min-width: 1200px) and (max-width: 1600px) {
	.home .header-wrap { top:365px; }
}
@media (min-width: 979px) and (max-width: 1200px) {
	.home .header-wrap { top:300px; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.home .header-wrap { top:220px; }
}
@media (max-width: 767px) {
	.home .header-wrap { top:0; }
}
.nav-wrap {
	position:relative;
	z-index:100;
	background:#fff9e9;
}
.nav-wrap >div {
	position:relative;
	z-index:10;
}
.nav-wrap:before {
	content:"";
	display:block;
	height:100%;
	left:-100%;
	position:absolute;
	top:0;
	width:101%;
	background:#fff9e9;
	z-index:1;
}
.nav-wrap:after {
	content:"";
	display:block;
	height:100%;
	right:-100%;
	position:absolute;
	top:0;
	width:101%;
	background:#fff9e9;
	z-index:1;
}
.nav__primary {
	position:relative;
	float:none;
	padding:13px 0 16px;
	margin:0;
	z-index:100;
	background:none;
}
@media (max-width: 767px) {
	.nav__primary {
		margin:0;
		padding:20px 0;
	}
}
.nav__primary .select-menu { height:35px; }
.nav__primary .sf-menu {
	float:none;
	display:block;
	position:relative;
	text-align:center;
	padding:0;
	margin:0;
	z-index:1;
}
@media (max-width: 767px) {
	.nav__primary .sf-menu { display:none !important; }
}
.nav__primary .sf-menu >li {
	background:none;
	float:none;
	text-align:left;
	display:inline-block;
	position:relative;
	padding:0;
	margin:0 0 0 150px;
	border:none;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	transition:all 0.3s ease 0s;
	z-index:10;
}
@media (min-width: 979px) and (max-width: 1200px) {
	.nav__primary .sf-menu >li { margin-left:80px; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.nav__primary .sf-menu >li { margin-left:50px; }
}
.nav__primary .sf-menu >li:after {
	width:0px;
	height:0px;
	border-style:solid;
	border-width:0 10.5px 11px 10.5px;
	border-color:transparent transparent #900035 transparent;
	content:'';
	position:absolute;
	bottom:-16px;
	opacity:0;
	left:50%;
	margin-left:-10px;
	transition:all 0.3s ease 0s;
}
.nav__primary .sf-menu >li:first-child { margin:0; }
.nav__primary .sf-menu >li:hover ul { top:100%; }
.nav__primary .sf-menu >li:hover li ul { top:-999em; }
.nav__primary .sf-menu >li:hover:after { opacity:1; }
.nav__primary .sf-menu >li >a {
	border:none;
	padding:0;
	display:inline-block;
	text-transform:uppercase;
	border-radius:0;
	position:relative;
	font-weight:800;
	letter-spacing:2px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	transition:all 0.3s ease 0s;
	background:none;
}
.nav__primary .sf-menu >li >a:hover {
	text-decoration:none;
	color:#900035;
	background:none;
}
.nav__primary .sf-menu >li >a:hover .sf-sub-indicator { background-position:-10px -100px; }
.nav__primary .sf-menu >li >a >.sf-sub-indicator {
	position:absolute;
	display:inline-block;
	top:10px;
	left:50%;
	margin-left:-6px;
	background:url("images/arrows-ffffff.png") no-repeat scroll 0 -100px transparent;
}
.nav__primary .sf-menu >li.current-menu-item:after { opacity:1; }
.nav__primary .sf-menu >li.current-menu-item >a {
	text-decoration:none;
	color:#900035;
	background:none;
}
.nav__primary .sf-menu >li.current-menu-item >a .sf-sub-indicator { background-position:-10px -100px; }
.nav__primary .sf-menu >li.sfHover:after { opacity:1; }
.nav__primary .sf-menu >li.sfHover >a {
	text-decoration:none;
	color:#900035;
	background:none;
}
.nav__primary .sf-menu >li.sfHover >a .sf-sub-indicator { background-position:-10px -100px; }
.nav__primary .sf-menu >li.sfHover ul { top:100%; }
.nav__primary .sf-menu >li.sfHover li ul { top:-999em; }
.nav__primary .sf-menu >li >.sub-menu {
	background:#900035;
	top:-999em;
	left:0;
	width:180px;
	padding:20px 0;
	margin:20px 0 0 0;
	border:none;
	border-radius:0;
	z-index:10000;
}
.nav__primary .sf-menu >li >.sub-menu >.menu-item {
	background:none;
	text-align:left;
	border:none;
	padding:0;
	margin:0;
}
.nav__primary .sf-menu >li >.sub-menu >.menu-item:first-child { border:none; }
.nav__primary .sf-menu >li >.sub-menu >.menu-item:hover li ul { top:-999em; }
.nav__primary .sf-menu >li >.sub-menu >.menu-item a {
	margin:0;
	background:none;
	border:none;
	color:#fff9e9;
	text-transform:uppercase;
	display:block;
	letter-spacing:0;
	border-radius:0;
	padding:0 20px;
	letter-spacing:0;
	font:800 12px/30px 'Open Sans', sans-serif;
	transition:all 0.3s ease 0s;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.nav__primary .sf-menu >li >.sub-menu >.menu-item a:hover {
	color:#900035;
	text-shadow:none;
	background:#fff9e9;
}
.nav__primary .sf-menu >li >.sub-menu >.menu-item a >.sf-sub-indicator {
	top:10px;
	left:auto;
	right:12px;
	background:url("images/arrows-ffffff.png") no-repeat scroll 0 0 transparent;
}
.nav__primary .sf-menu >li >.sub-menu >.menu-item.sfHover li ul { top:-999em; }
.nav__primary .sf-menu >li >.sub-menu >.menu-item.sfHover >a {
	color:#900035;
	text-shadow:none;
	background:#fff9e9;
}
.nav__primary .sf-menu >li >.sub-menu >.menu-item.sfHover >a .sf-sub-indicator { background-position:-10px 0; }
.nav__primary .sf-menu >li >.sub-menu >.menu-item.current-menu-item a {
	color:#900035;
	text-shadow:none;
	background:#fff9e9;
}
.nav__primary .sf-menu >li >.sub-menu >.menu-item >.sub-menu {
	background:#9e2a55;
	padding:20px 0;
	margin:-20px 0 0 1px;
	top:0;
	left:100%;
	right:auto;
	border:none;
	border-radius:0;
	width:100%;
}
.nav__primary .sf-menu >li >.sub-menu >.menu-item >.sub-menu >.menu-item {
	background:none;
	text-align:left;
	border:none;
	padding:0;
	margin:0;
}
.nav__primary .sf-menu >li >.sub-menu >.menu-item >.sub-menu >.menu-item:first-child { border:none; }
.nav__primary .sf-menu >li >.sub-menu >.menu-item >.sub-menu >.menu-item:hover ul {
	top:0;
	left:10em;
}
.nav__primary .sf-menu >li >.sub-menu >.menu-item >.sub-menu >.menu-item a {
	margin:0;
	padding:0 20px;
	color:#fff9e9;
	display:block;
	background:none;
}
.nav__primary .sf-menu >li >.sub-menu >.menu-item >.sub-menu >.menu-item a:hover {
	color:#9e2a55;
	text-shadow:none;
	background:#fff9e9;
}
.nav__primary .sf-menu >li >.sub-menu >.menu-item >.sub-menu >.menu-item.current-menu-item a {
	color:#9e2a55;
	text-shadow:none;
	background:#fff9e9;
}
.nav__primary .sf-menu >li >.sub-menu >.menu-item >.sub-menu >.menu-item.sfHover ul {
	top:0;
	left:10em;
}
.logo-wrap {
	background:#900035;
	position:relative;
	padding:23px 0 20px;
}
@media (max-width: 1200px) {
	.logo-wrap { padding:10px 0; }
}
@media (max-width: 767px) {
	.logo-wrap { margin-bottom:20px; }
}
.logo-wrap >div {
	position:relative;
	z-index:10;
}
.logo-wrap:before {
	content:"";
	display:block;
	height:100%;
	left:-100%;
	position:absolute;
	top:0;
	width:101%;
	background:#900035;
	z-index:1;
}
.logo-wrap:after {
	content:"";
	display:block;
	height:100%;
	right:-100%;
	position:absolute;
	top:0;
	width:101%;
	background:#900035;
	z-index:1;
}
.logo { text-align:center; }
@media (min-width: 768px) and (max-width: 979px) {
	.logo { width:100%; }
}
.logo .logo_tagline {
	display:inline-block;
	font:300 18px/24px 'Open Sans', sans-serif;
	color:#fff;
	text-transform:uppercase;
	letter-spacing:4px;
	width:240px;
	position:relative;
	top:16px;
}
@media (max-width: 1200px) {
	.logo .logo_tagline {
		display:block;
		text-align:center !important;
		width:100%;
		top:0;
	}
	.logo .logo_tagline br { display:none; }
}
.logo .logo_tagline.first {
	text-align:right;
	margin-right:5px;
}
@media (max-width: 1200px) {
	.logo .logo_tagline.first { margin:0 0 10px 0; }
}
.logo .logo_tagline.second {
	text-align:left;
	margin-left:20px;
}
@media (max-width: 1200px) {
	.logo .logo_tagline.second { margin:5px 0 0 0; }
}
.logo .logo_h__txt {
	text-transform:none;
	display:inline-block;
	vertical-align:middle;
}
@media (max-width: 480px) {
	.logo .logo_h__txt {
		font-size:50px;
		line-height:1.2em;
	}
}
@media (max-width: 480px) {
	.logo .logo_h__txt a {
		font-size:50px;
		line-height:1.2em;
	}
}
.logo .logo_h__txt a:hover, .logo .logo_h__txt a:active, .logo .logo_h__txt a:focus {
	color:#fff9e9;
	text-decoration:none;
}
.slider-wrap {
	position:relative;
	width:2000px;
	top:0;
	z-index:10;
	left:50%;
	margin-left:-1000px;
}
@media (min-width: 1200px) and (max-width: 1600px) {
	.slider-wrap {
		width:1600px;
		margin-left:-800px;
	}
}
@media (min-width: 979px) and (max-width: 1200px) {
	.slider-wrap {
		width:1200px;
		margin-left:-600px;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.slider-wrap {
		width:980px;
		margin-left:-490px;
	}
}
@media (max-width: 767px) {
	.slider-wrap {
		width:100%;
		margin:0 0 20px 0;
		left:0;
	}
}
.slider-wrap .container { width:100%; }
.slider-wrap .row { margin:0; }
@media (max-width: 767px) {
	.slider-wrap.main { display:none !important; }
}
.slider-wrap.second { display:none; }
@media (max-width: 767px) {
	.slider-wrap.second { display:block; }
}
.slider-wrap.second .camera_loader {
	display:none !important;
	visibility:hidden !important;
}
.camera_overlayer { background:url(images/slider-alpha.png); }
@media (min-width: 1600px) and (max-width: 5000px) {
	.camera { height:640px !important; }
}
@media (min-width: 1200px) and (max-width: 1600px) {
	.camera { height:512px !important; }
}
@media (min-width: 979px) and (max-width: 1200px) {
	.camera { height:384px !important; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.camera { height:314px !important; }
}
@media (min-width: 1600px) and (max-width: 5000px) {
	.home .camera { height:1082px !important; }
}
@media (min-width: 1200px) and (max-width: 1600px) {
	.home .camera { height:866px !important; }
}
@media (min-width: 979px) and (max-width: 1200px) {
	.home .camera { height:649px !important; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.home .camera { height:530px !important; }
}
.home .camera .camera_pag { bottom:334px !important; }
@media (min-width: 979px) and (max-width: 1200px) {
	.home .camera .camera_pag { bottom:140px !important; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.home .camera .camera_pag { bottom:100px !important; }
}
@media (max-width: 767px) {
	.home .camera .camera_pag { bottom:60px !important; }
}
.camera { margin-bottom:0 !important; }
.camera .camera_pag {
	position:relative;
	bottom:59px !important;
}
@media (min-width: 979px) and (max-width: 1200px) {
	.camera .camera_pag { bottom:48px !important; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.camera .camera_pag { bottom:50px !important; }
}
@media (max-width: 767px) {
	.camera .camera_pag { bottom:60px !important; }
}
.camera .camera_pag .camera_pag_ul { text-align:center; }
.camera .camera_pag .camera_pag_ul li {
	background:#fff9e9;
	width:16px;
	height:16px;
	border-radius:50%;
	margin-left:7px;
	margin-right:0;
}
.camera .camera_pag .camera_pag_ul li:first-child { margin-left:0; }
.camera .camera_pag .camera_pag_ul li span {
	width:16px;
	height:16px;
	border-radius:50%;
	left:0;
	top:0;
	background:none;
}
.camera .camera_pag .camera_pag_ul li.cameracurrent, .camera .camera_pag .camera_pag_ul li:hover { background:none; }
.camera .camera_pag .camera_pag_ul li.cameracurrent span, .camera .camera_pag .camera_pag_ul li:hover span { background:#900035; }
.camera .camera_thumbs {
	position:absolute;
	top:0;
	width:100%;
}
.camera .camera_thumbs .camera_thumbs_cont { background:none; }
@media (max-width: 1200px) {
	.camera .camera_thumbs { display:none !important; }
}
.cameraSlide img {
	margin-top:-80px !important;
	display:inline-block;
}
@media (min-width: 979px) and (max-width: 1200px) {
	.cameraSlide img { margin-top:-50px !important; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.cameraSlide img { margin-top:-40px !important; }
}
@media (max-width: 767px) {
	.cameraSlide img { margin-top:0 !important; }
}
.home .cameraSlide img { margin-top:0 !important; }
.camera_prev, .camera_next, .camera_commands {
	left:50%;
	margin-left:-800px;
}
@media (min-width: 1200px) and (max-width: 1600px) {
	.camera_prev, .camera_next, .camera_commands {
		margin-left:-600px;
		top:40%;
	}
}
@media (max-width: 1200px) {
	.camera_prev, .camera_next, .camera_commands { display:none !important; }
}
.camera_next { margin-left:760px; }
@media (min-width: 1200px) and (max-width: 1600px) {
	.camera_next { margin-left:560px; }
}
.camera_commands { margin-left:720px; }
@media (min-width: 1200px) and (max-width: 1600px) {
	.camera_commands { margin-left:520px; }
}
.content-holder { padding-bottom:0; }
.home .content-holder { z-index:100; }
.home .content-holder:before {
	position:absolute;
	width:100%;
	height:6px;
	background:#900035;
	top:0;
	left:0;
}
.home .content-holder >.container { position:relative; }
.title-wrap {
	background:#e4dbc3;
	position:relative;
}
.title-wrap >section {
	position:relative;
	z-index:10;
}
.title-wrap:before {
	content:"";
	display:block;
	height:100%;
	left:-100%;
	position:absolute;
	top:0;
	width:101%;
	background:#e4dbc3;
	z-index:1;
}
.title-wrap:after {
	content:"";
	display:block;
	height:100%;
	right:-100%;
	position:absolute;
	top:0;
	width:101%;
	background:#e4dbc3;
	z-index:1;
}
.title-section {
	margin:0;
	padding:20px 0 27px;
	text-align:center;
	background:none;
	position:relative;
}
.title-section:after {
	content:'';
	width:0;
	height:0;
	display:block;
	clear:both;
}
@media (max-width: 767px) {
	.title-section { margin:0; }
}
.title-section .title-header {
	text-align:left;
	float:left;
	width:50%;
	letter-spacing:1px;
	margin:3px 0 0 0;
	text-transform:uppercase;
	font:30px/1.3em 'Open Sans', sans-serif !important;
	color:#8e805f;
}
@media (max-width: 480px) {
	.title-section .title-header {
		float:none;
		width:100%;
		margin:0 0 10px;
	}
}
.title-section .breadcrumb {
	float:right;
	text-align:right;
	width:50%;
	background:none;
	padding:0;
	margin:16px 0 0 0;
	text-transform:uppercase;
	text-shadow:none;
	letter-spacing:1px;
	border:none;
	box-shadow:none;
	border-radius:0;
	font:14px/1.3em 'Open Sans', sans-serif;
}
@media (max-width: 480px) {
	.title-section .breadcrumb {
		float:none;
		width:100%;
		margin:0;
		text-align:left;
	}
}
.title-section .breadcrumb >li {
	text-shadow:none;
	display:inline-block;
	line-height:1.2em;
}
@media (max-width: 767px) {
	.title-section .breadcrumb >li { display:block; }
}
.title-section .breadcrumb >li.active { color:#8e805f; }
.title-section .breadcrumb a {
	color:#900035;
	text-shadow:none;
}
.title-section .breadcrumb .divider { padding:0 20px; }
@media (max-width: 979px) {
	.title-section .breadcrumb .divider { padding:0 5px; }
}
@media (max-width: 767px) {
	.title-section .breadcrumb .divider { display:none; }
}
.title-section .breadcrumb .divider:after {
	color:#8e805f;
	content:"/";
	font:14px/1.3em 'Open Sans', sans-serif;
}
article {
	background:none;
	border:none;
	border-radius:0;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
article.post__holder {
	margin-bottom:50px;
	overflow:visible;
}
article .thumbnail { margin:0 30px 20px 0; }
@media (max-width: 480px) {
	article .thumbnail {
		width:auto !important;
		display:inline-block;
		float:none;
		margin:0 0 15px 0;
	}
	article .thumbnail img { width:100%; }
}
article .thumbnail.large {
	margin:0 0 30px 0;
	border-radius:0;
}
@media (min-width: 768px) and (max-width: 979px) {
	article .thumbnail.large { float:none !important; }
}
article .post-header .post-title {
	text-align:left;
	font:30px/1.3em 'Open Sans', sans-serif;
	margin-bottom:35px;
	letter-spacing:0;
	text-transform:uppercase;
	color:#8e805f;
}
article .post-header .post-title a { color:#8e805f; }
article .post_content {
	background:none;
	border-radius:0;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
article .post_meta {
	padding:8px 0;
	border:none;
	position:relative;
	display:block;
	margin:20px 0 20px;
	overflow:visible;
	background:none;
	border-top:1px solid #e4dbc3;
	border-bottom:1px solid #e4dbc3;
	border-radius:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
article .post_meta .post_meta_unite {
	font:13px/1.2em "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-color:#e4dbc3;
	text-transform:none;
}
article .post_meta .post_meta_unite:first-child { border:none; }
article .post_meta i {
	margin-right:0;
	color:#8e805f;
	font-size:15px;
}
article .post_meta .post_date { color:#8e805f; }
article .post_meta .post_author a { color:#8e805f; }
article .post_meta .post_category a, article .post_meta .post_tag a, article .post_meta .post_tag { color:#900035; }
article .post_meta .post_comment a { color:#900035; }
article .post_meta .user_like, article .post_meta .post_views { color:#900035; }
article .post_meta .post_permalink { float:none; }
article .post_meta .post_permalink a { color:#900035; }
article div.jp-playlist li a:hover, article div.jp-playlist li.jp-playlist-current a { color:#b8b8b8; }
article .quote-wrap blockquote {
	font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:15px;
	line-height:1.2em;
	font-style:normal;
	color:#afafaf;
	font-weight:bold;
}
article .gallery-post { padding-bottom:40px; }
article.testimonial {
	background:none;
	border-color:#e4dbc3;
}
article.testimonial .user, article.testimonial .info { color:#222; }
.single #content article { margin-bottom:0; }
@media (min-width: 768px) and (max-width: 1000px) {
	.single #content article .thumbnail { float:left; }
	.single #content article .thumbnail img { margin:0; }
}
@media (max-width: 480px) {
	.single #content article .thumbnail { width:100%; }
	.single #content article .thumbnail img { width:100%; }
}
.single #content .share-buttons {
	margin:10px 0 30px;
	background:none;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.single #content .share-buttons .pinterest img { vertical-align:top; }
.single #content .post-author {
	padding:30px;
	border:none;
	background:#e5dcc4;
	border-radius:0;
}
.single #content .post-author .post-author_h {
	font:30px/1.3em 'Open Sans', sans-serif;
	margin:0 0 15px 0;
	letter-spacing:1px;
	text-transform:uppercase;
	color:#8e805f;
}
.single #content .post-author .post-author_h a {
	color:#8e805f;
	text-transform:uppercase;
}
.single #content .post-author .post-author_gravatar {
	display:block;
	margin:4px 20px 0 0;
}
@media (max-width: 350px) {
	.single #content .post-author .post-author_gravatar {
		float:none;
		margin:0 0 20px 0;
	}
}
.single #content .post-author .post-author_gravatar img {
	width:60px;
	height:60px;
	border-radius:0;
	padding:0;
	border:none;
	background:none;
}
.single #content .post-author .post-author_desc {
	padding-left:80px;
	text-transform:none;
	color:#8e805f;
}
@media (max-width: 480px) {
	.single #content .post-author .post-author_desc { padding-left:0; }
}
.single #content .post-author .post-author_link {
	margin-top:20px;
	text-transform:none;
	color:#900035;
	font:bold 13px/1.3em "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.single #content .post-author .post-author_link p { margin:0; }
.single #content .post-author .post-author_link a {
	color:#900035;
	font-size:13px;
	text-transform:none;
}
#content.row { padding-top:35px; }
.filter-wrapper { margin:15px 0 35px; }
@media (max-width: 767px) {
	.filter-wrapper { margin:20px 0; }
}
.filter-wrapper strong {
	color:#8e805f;
	padding:0;
	font:20px/1.2em 'Open Sans', sans-serif;
	margin-right:21px;
	margin-top:0px;
	text-transform:uppercase;
	letter-spacing:0;
	float:none;
	display:inline-block;
	vertical-align:top;
}
@media (max-width: 979px) {
	.filter-wrapper strong {
		display:block;
		float:none;
		margin-bottom:20px;
	}
}
.filter-wrapper .filter {
	margin:0;
	display:inline-block;
	float:none;
	position:relative;
	top:0;
}
@media (max-width: 767px) {
	.filter-wrapper .filter {
		float:none;
		display:block;
	}
}
.filter-wrapper .filter li { margin:0 0 0 18px; }
.filter-wrapper .filter li:first-child { margin:0; }
@media (min-width: 768px) and (max-width: 979px) {
	.filter-wrapper .filter li { margin:0 10px 10px 0 !important; }
}
@media (max-width: 767px) {
	.filter-wrapper .filter li {
		display:block;
		float:none;
		margin:0 0 5px 0 !important;
	}
}
.filter-wrapper .filter li a {
	color:#8e805f;
	font:20px/1.2em 'Open Sans', sans-serif;
	padding:0;
	margin:0;
	background:none;
	border-radius:0;
	text-transform:uppercase;
	letter-spacing:0;
}
@media (max-width: 767px) {
	.filter-wrapper .filter li a { display:inline-block; }
}
.filter-wrapper .filter li a:active, .filter-wrapper .filter li a:hover, .filter-wrapper .filter li a:focus {
	text-decoration:none;
	color:#900035;
	background:none;
}
.filter-wrapper .filter .active a {
	text-decoration:none;
	color:#900035;
	background:none;
}
@media (max-width: 979px) {
	.filter-wrapper .pull-right { float:none; }
}
.filterable-portfolio li .thumbnail { margin:0 0 15px 0; }
.filterable-portfolio li .caption h3 {
	text-shadow:none;
	margin:0 0 10px;
	font:20px/1.2em 'Open Sans', sans-serif;
	letter-spacing:0;
}
.filterable-portfolio li .caption h3 a {
	color:#900035;
	text-transform:uppercase;
	text-decoration:none;
}
.filterable-portfolio li .caption h3 a:hover, .filterable-portfolio li .caption h3 a:active { text-decoration:underline; }
.filterable-portfolio li .caption .excerpt {
	margin-bottom:15px;
	color:#8e805f;
	letter-spacing:0;
	line-height:18px;
}
.filterable-portfolio li .caption p { margin:0; }
.filterable-portfolio li .caption .btn { font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif; }
div.pagination { padding:30px 0; }
div.pagination ul {
	box-shadow:none;
	border-radius:0;
}
div.pagination ul li { border-radius:0; }
div.pagination ul li a {
	margin:0 0 0 20px;
	border:none;
	background:none;
	border-radius:0;
	padding:0;
	font:bold 22px/1.2em 'Open Sans', sans-serif;
	color:#900035;
}
div.pagination ul li a:hover, div.pagination ul li a:active, div.pagination ul li a:focus { background:none; }
div.pagination ul li:first-child { margin:0; }
div.pagination ul li span { background:none; }
div.pagination ul li.active a, div.pagination ul li:hover a, div.pagination ul li:active a {
	color:#8e805f;
	background:none;
}
ul.pager {
	padding:10px 0;
	border-color:#e4dbc3;
}
ul.pager li a {
	border:none;
	background:none;
	padding:0;
	font:bold 22px/1.2em 'Open Sans', sans-serif;
	color:#900035;
}
ul.pager li a:hover, ul.pager li a:active {
	background:none;
	color:#8e805f;
}
.portfolio-meta { border-color:#e4dbc3; }
.portfolio-meta i { color:#8e805f; }
.portfolio-meta-list { border-color:#e4dbc3; }
div.type-page h1 {
	letter-spacing:2px;
	margin-bottom:25px;
}
@media (min-width: 768px) and (max-width: 979px) {
	div.type-page h1 { letter-spacing:0; }
}
@media (max-width: 767px) {
	div.type-page h1 { margin:30px 0 20px; }
}
div.type-page p { margin-bottom:18px; }
div.type-page .extra-wrap p {
	padding-left:49px;
	margin-bottom:21px;
}
div.type-page .extra-wrap strong {
	color:#900035;
	float:left;
	margin-left:-49px;
	margin-top:0;
}
div.type-page .list.custom-list { margin-bottom:19px; }
div.type-page address {
	font:12px/18px 'Open Sans', sans-serif;
	color:#900035;
	letter-spacing:1px;
	text-transform:uppercase;
}
@media (min-width: 768px) and (max-width: 979px) {
	div.type-page address {
		font-size:10px;
		letter-spacing:0;
	}
}
div.type-page address a { text-decoration:underline; }
@media (min-width: 768px) and (max-width: 979px) {
	div.type-page address a { font-size:8px; }
}
div.type-page address p { margin-bottom:10px; }
div.type-page address h1 {
	font:800 20px/1em 'Open Sans', sans-serif;
	color:#900035;
	letter-spacing:1px;
	margin:0 0 10px;
}
@media (min-width: 979px) and (max-width: 1200px) {
	div.type-page address h1 { font-size:15px; }
}
@media (min-width: 768px) and (max-width: 979px) {
	div.type-page address h1 { font-size:12px; }
}
.related-posts, .comment-holder, #respond { margin-top:50px; }
.related-posts h3, .comment-holder h3, #respond h3 {
	font:30px/1.2em 'Open Sans', sans-serif;
	margin:0 0 25px;
	text-align:left;
	letter-spacing:1px;
	text-transform:uppercase;
}
.related-posts a {
	font:bold 13px/1.2em "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#900035;
	display:inline;
	letter-spacing:0;
	text-transform:none;
}
.related-posts a:hover { text-decoration:underline; }
.related-posts .thumbnail {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.related-posts .thumbnail a {
	display:inline-block;
	width:100%;
}
.related-posts .thumbnail img {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.comment-holder .pagination { padding:0; }
.comment-holder .comment-list .comment .comment-body {
	padding:30px;
	background:#e4dbc3;
	border-radius:0;
	border:none;
}
.comment-holder .comment-list .comment .comment-body .comment-author {
	margin:5px 20px 0 0;
	text-align:left;
	border:none;
}
@media (max-width: 350px) {
	.comment-holder .comment-list .comment .comment-body .comment-author {
		float:none;
		margin-bottom:30px;
	}
}
.comment-holder .comment-list .comment .comment-body .comment-author img {
	width:60px;
	height:60px;
	padding:0;
	border:none;
	background:none;
}
.comment-holder .comment-list .comment .comment-body .comment-author .author {
	width:auto;
	text-align:center;
	font:bold 13px/1.3em "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#8e805f;
	text-transform:none;
}
.comment-holder .comment-list .comment .comment-body .extra-wrap {
	padding:0;
	margin:0;
	background:none;
	color:#8e805f;
	text-transform:none;
}
@media (max-width: 480px) {
	.comment-holder .comment-list .comment .comment-body .extra-wrap { overflow:visible; }
}
.comment-holder .comment-list .comment .comment-body .comment-meta {
	margin:1px 0 0 0;
	font:bold 13px/1.3em "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#8e805f;
	text-transform:none;
}
.comment-holder .comment-list .comment .comment-body .reply a {
	text-transform:none;
	border:none;
	font-family:"Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.comment-holder #respond { padding-bottom:20px; }
.comment-holder #respond #commentform { margin-top:0; }
#respond { padding-bottom:40px; }
#respond #commentform { margin:15px 0 0; }
#respond #commentform textarea {
	width:100%;
	min-width:auto;
	max-width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	height:300px;
	min-height:auto;
	max-height:auto;
	min-width:auto;
	padding:12px 10px 10px;
}
#respond #commentform p input {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	max-width:auto;
	min-width:auto;
	width:100%;
	padding:0 10px;
	height:35px;
	margin-bottom:2px;
}
#respond #commentform p input:focus { box-shadow:none; }
#respond #commentform p input.btn {
	margin:20px 0 0 0;
	width:auto;
	height:20px;
	padding:0;
}
#respond #commentform p.right-align {
	text-align:right;
	margin:0;
}
.sidebar .widget { margin:10px 0 60px; }
.sidebar .widget >h3 {
	margin:0 0 20px 0;
	font:30px/1.3em 'Open Sans', sans-serif;
	letter-spacing:1px;
	display:block;
	text-transform:uppercase;
}
[id*="categories"] ul, [id*="archives"] ul, [id*="nav_menu"] ul, .list.custom-list ul {
	margin:0;
	list-style-type:none;
}
@media (max-width: 767px) {
	[id*="categories"] ul, [id*="archives"] ul, [id*="nav_menu"] ul, .list.custom-list ul { margin-top:30px; }
}
[id*="categories"] ul li, [id*="archives"] ul li, [id*="nav_menu"] ul li, .list.custom-list ul li {
	background:url(images/arrow.png) no-repeat 0 8px;
	margin:0;
	padding:3px 0 3px 16px;
}
[id*="categories"] ul li:before, [id*="archives"] ul li:before, [id*="nav_menu"] ul li:before, .list.custom-list ul li:before { display:none; }
[id*="categories"] ul li a, [id*="archives"] ul li a, [id*="nav_menu"] ul li a, .list.custom-list ul li a {
	font:bold 13px/1.3em "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#900035;
	text-transform:none;
	display:inline;
	position:relative;
}
[id*="categories"] ul li a:hover, [id*="categories"] ul li a:active, [id*="archives"] ul li a:hover, [id*="archives"] ul li a:active, [id*="nav_menu"] ul li a:hover, [id*="nav_menu"] ul li a:active, .list.custom-list ul li a:hover, .list.custom-list ul li a:active {
	color:#8e805f;
	text-decoration:none;
	background:none;
}
[id*="my_poststypewidget"] .post-list { margin:20px 0 0 0; }
[id*="my_poststypewidget"] .post-list li {
	padding:30px 0 0 0;
	overflow:visible;
}
[id*="my_poststypewidget"] .post-list li:first-child { padding:0; }
[id*="my_poststypewidget"] .post-list li .thumbnail {
	margin:5px 20px 15px 0;
	float:left;
}
@media (min-width: 768px) and (max-width: 979px) {
	[id*="my_poststypewidget"] .post-list li .thumbnail {
		float:none;
		margin:0 0 20px 0;
		display:block;
	}
}
@media (max-width: 480px) {
	[id*="my_poststypewidget"] .post-list li .thumbnail {
		float:none;
		margin:0 0 20px 0;
		display:block;
	}
}
[id*="my_poststypewidget"] .post-list li .post-list_h {
	font:bold 13px/18px "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform:none;
	letter-spacing:0;
	margin:8px 0 0;
	display:block;
}
[id*="my_poststypewidget"] .post-list li .post-list_h a { color:#900035; }
[id*="my_poststypewidget"] .post-list li time, [id*="my_poststypewidget"] .post-list li .post-list_comment {
	display:inline-block;
	padding:0px 0 0;
	color:#8e805f;
	font:13px/18px "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
[id*="my_poststypewidget"] .post-list li .post-list_comment:before {
	content:'/';
	padding:0 5px;
}
[id*="my_poststypewidget"] .post-list li .excerpt {
	overflow:hidden;
	margin:0 0 15px;
	color:#8e805f;
	line-height:18px;
}
#wp-calendar caption, #wp-calendar thead tr th {
	color:#900035;
	font-family:'Open Sans', sans-serif;
}
.search-form .search-form_is {
	margin:4px 0 0 10px;
	padding-top:1px;
	padding-bottom:1px;
	height:20px;
}
@media (min-width: 768px) and (max-width: 1200px) {
	.search-form .search-form_is {
		display:block;
		margin:0;
	}
}
@media (max-width: 400px) {
	.search-form .search-form_is {
		display:block;
		margin:0;
	}
}
@media (max-width: 767px) {
	#content.left, #sidebar { float:none !important; }
}
.well {
	background:#e4dbc3;
	position:relative;
	border:none;
	border-radius:0;
	box-shadow:none;
	padding:34px 0;
	margin:30px 0 0;
}
.well:before {
	content:"";
	display:block;
	height:100%;
	left:-100%;
	position:absolute;
	top:0;
	width:100%;
	background:#e4dbc3;
}
.well:after {
	content:"";
	display:block;
	height:100%;
	right:-100%;
	position:absolute;
	top:0;
	width:100%;
	background:#e4dbc3;
}
.home .well { padding-bottom:10px; }
.posts-grid.our-team li { margin-bottom:0; }
.posts-grid.our-team li .thumbnail { margin:0 0 25px; }
.posts-grid.our-team li h5 {
	font:bold 13px/18px "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin:0;
	text-transform:none;
}
.posts-grid.our-team li h5 a { color:#900035; }
.services-wrap {
	margin-top:-260px;
	margin-bottom:50px;
}
@media (max-width: 1200px) {
	.services-wrap { margin:40px 0; }
}
@media (max-width: 767px) {
	.services-wrap { margin:30px 0; }
}
.service-box {
	background:none;
	border:none;
	border-radius:0;
	padding:0;
	box-shadow:none;
	text-align:center;
}
@media (max-width: 767px) {
	.service-box { margin-bottom:20px; }
}
.service-box .icon { float:none; }
@media (max-width: 1200px) {
	.service-box .icon {
		background:#900035;
		margin:20px 0;
		padding:10px 0;
	}
}
.service-box .title {
	font:32px/1em 'Lobster', cursive;
	color:#fff9e9;
	margin-bottom:7px;
	text-transform:lowercase;
}
@media (max-width: 1200px) {
	.service-box .title { color:#900035; }
}
.service-box .title:before {
	content:'';
	width:70px;
	height:2px;
	background:#fff9e9;
	position:relative;
	left:50%;
	margin-left:-35px;
	display:block;
	margin:0 0 15px -35px;
}
@media (max-width: 1200px) {
	.service-box .title:before { background:#900035; }
}
.service-box .service-box_body {
	padding:0 20px;
	color:#fff9e9;
}
@media (max-width: 1200px) {
	.service-box .service-box_body { color:#900035; }
}
.service-box.services-home {
	position:relative;
	overflow:visible;
}
.service-box.services-home:after {
	content:'';
	position:absolute;
	width:100%;
	height:6px;
	background:#f0eadb;
	bottom:-34px;
	left:0;
	opacity:0;
	transition:all 0.3s ease 0s;
}
@media (max-width: 1200px) {
	.service-box.services-home:after { display:none; }
}
.service-box.services-home:before {
	content:'';
	position:absolute;
	width:0px;
	height:0px;
	border-style:solid;
	border-width:0 14.5px 15px 14.5px;
	border-color:transparent transparent #f0eadb transparent;
	bottom:-28px;
	left:50%;
	margin-left:-15px;
	opacity:0;
	transition:all 0.3s ease 0s;
}
@media (max-width: 1200px) {
	.service-box.services-home:before { display:none; }
}
.service-box.services-home:hover:before, .service-box.services-home:hover:after { opacity:1; }
.posts-grid.ideas li {
	width:33.33333%;
	margin:0;
	background:#900035 url(images/header-alpha.png) no-repeat 100% 100%;
	transition:all 0.3s ease 0s;
}
@media (max-width: 767px) {
	.posts-grid.ideas li {
		float:left;
		padding:10px 10px 0 10px;
	}
}
@media (max-width: 480px) {
	.posts-grid.ideas li {
		float:none;
		width:100%;
		margin:0 0 10px 0;
	}
}
.posts-grid.ideas li:hover { background:#8e805f; }
@media (max-width: 767px) {
	.posts-grid.ideas li .thumbnail {
		float:none;
		margin:0;
		text-align:center;
		display:block;
	}
	.posts-grid.ideas li .thumbnail a {
		text-align:center;
		display:inline-block;
	}
}
.posts-grid.ideas li .excerpt { display:none; }
.posts-grid.ideas li h5 {
	margin:0;
	padding:0 20px;
	height:58px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	display:table-cell;
	letter-spacing:1px;
	vertical-align:middle;
	font:14px/18px 'Open Sans', sans-serif;
	position:relative;
}
@media (max-width: 1200px) {
	.posts-grid.ideas li h5 { height:80px; }
}
.posts-grid.ideas li h5 a {
	color:#ffffff;
	display:inline-block;
}
.posts-grid.ideas li h5 a:hover, .posts-grid.ideas li h5 a:active { text-decoration:none; }
.testimonials .testi-item {
	margin:0;
	padding:0 0 5px 0;
}
.testimonials .testi-item .testi-item_blockquote {
	padding:0;
	border-radius:0;
	background:none;
}
.testimonials .testi-item .testi-item_blockquote:before, .testimonials .testi-item .testi-item_blockquote:after { display:none; }
.testimonials .testi-item .testi-item_blockquote .featured-thumbnail {
	margin:0 30px 0 0;
	position:relative;
	width:auto;
	height:auto;
	overflow:visible;
}
.testimonials .testi-item .testi-item_blockquote .featured-thumbnail img { border:4px solid #f0eadb; }
.testimonials .testi-item .testi-item_blockquote .featured-thumbnail:before {
	position:absolute;
	content:'';
	width:0px;
	height:0px;
	border-style:solid;
	border-width:0 16px 16px 0;
	border-color:transparent #f0eadb transparent transparent;
	right:-34px;
	top:8px;
}
.testimonials .testi-item .testi-item_blockquote .featured-thumbnail small {
	padding:20px 0 0 0;
	width:70px;
	display:block;
}
.testimonials .testi-item .testi-item_blockquote .featured-thumbnail small:before { display:none; }
.testimonials .testi-item .testi-item_blockquote .featured-thumbnail small span {
	font:12px/16px 'Open Sans', sans-serif;
	color:#900035;
	display:block;
	letter-spacing:1px;
}
.testimonials .testi-item .testi-item_blockquote .featured-thumbnail small span.user { text-transform:uppercase; }
.testimonials .testi-item .testi-item_blockquote .featured-thumbnail small span.info { text-transform:lowercase; }
.testimonials .testi-item .testi-item_blockquote .featured-thumbnail small span.info:before { content:'('; }
.testimonials .testi-item .testi-item_blockquote .featured-thumbnail small span.info:after { content:')'; }
.testimonials .testi-item .testi-item_blockquote .featured-thumbnail small a { display:none; }
.testimonials .testi-item .testi-item_blockquote >div {
	overflow:hidden;
	padding:10px 20px 20px;
	background:#f0eadb;
	position:relative;
}
.testimonials .testi-item .testi-item_blockquote >div a { color:#8e805f; }
.testimonials .testi-item .testi-item_blockquote >div a:before, .testimonials .testi-item .testi-item_blockquote >div a:after {
	content:'';
	display:inline-block;
	width:14px;
	height:9px;
	background:url(images/quote-open.png) no-repeat;
	margin-right:5px;
}
.testimonials .testi-item .testi-item_blockquote >div a:after {
	background:url(images/quote-close.png) no-repeat;
	margin:0 0 0 5px;
}
.testimonials.testi-home { margin-right:100px; }
@media (max-width: 1200px) {
	.testimonials.testi-home { margin-right:0; }
}
.testi-btn { margin-right:100px; }
@media (max-width: 1200px) {
	.testi-btn { margin-right:0; }
}
.dropcap {
	display:block;
	float:none;
	width:auto;
	height:auto;
	border-radius:0;
	background:none;
	text-align:left;
	font:30px/1em 'Lobster', cursive;
	color:#900035;
	margin:20px 0 9px 0;
	letter-spacing:1px;
}
@media (max-width: 767px) {
	.dropcap { margin:30px 0 9px; }
}
.footer {
	padding:55px 0 60px;
	border-top:7px solid #e4dbc3;
	background:none;
}
.copyright { padding:0; }
.footer-text {
	font:800 11px/1.2em 'Open Sans', sans-serif;
	color:#8e805f;
	text-transform:uppercase;
	letter-spacing:1px;
}
@media (min-width: 768px) and (max-width: 979px) {
	.footer-text {
		font-size:10px;
		letter-spacing:0;
	}
}
@media (max-width: 767px) {
	.footer-text { text-align:left; }
}
.footer-text a { color:#8e805f; }
.footer-text .site-name {
	font:30px/1em 'Lobster', cursive;
	color:#8e805f;
	text-transform:none;
	letter-spacing:0;
	margin:0 0 5px;
	display:inline-block;
}
@media (min-width: 768px) and (max-width: 979px) {
	.footer-text .site-name { font-size:25px; }
}
.footer-text span {
	display:inline-block;
	padding-left:5px;
}
nav.nav.footer-nav {
	float:none;
	margin:40px 0 0;
}
nav.nav.footer-nav ul {
	float:none;
	text-align:right;
}
@media (max-width: 767px) {
	nav.nav.footer-nav ul { text-align:left; }
}
nav.nav.footer-nav ul li {
	float:none;
	display:inline-block;
	padding:0;
	text-transform:none;
	margin:0;
	padding:0 0 5px 7px;
}
nav.nav.footer-nav ul li:first-child { padding:0; }
nav.nav.footer-nav ul li:first-child:before { display:none; }
nav.nav.footer-nav ul li a {
	padding-bottom:0;
	border-bottom:1px solid transparent;
}
nav.nav.footer-nav ul li.current-menu-item a, nav.nav.footer-nav ul li a:hover {
	color:#900035;
	border-color:#900035;
	text-decoration:none;
}
#back-top-wrapper p a {
	width:41px;
	height:41px;
	border-radius:50%;
	opacity:1;
}
#back-top-wrapper p a:hover { background:none; }
#back-top-wrapper p a:hover span { background-color:#1c1c1c; }
#back-top-wrapper p a span {
	width:41px;
	height:41px;
	border-radius:50%;
	background:#900035;
	position:relative;
	transition:all 0.3s ease 0s;
}
#back-top-wrapper p a span:after {
	content:"";
	font:15px/1em FontAwesome;
	color:#fff;
	position:absolute;
	top:50%;
	left:50%;
	margin:-8px 0 0 -5px;
}
.google-map, .flexslider { background:url(images/loading.gif) 50% 50% no-repeat; }
div.ajax-loader, .ajax-loader {
	position:relative;
	top:-5px;
	background-image:url(images/loading.gif);
	width:24px;
	padding:24px 0 0 0;
	height:0px !important;
}
.error404-holder { padding:80px 0; }
.error404-holder .error404-holder_num { color:#900035; }
@media (min-width: 768px) and (max-width: 979px) {
	.error404-holder .error404-holder_num { font-size:150px; }
}
@media (max-width: 767px) {
	.archive_h { margin-top:30px; }
}
blockquote p { line-height:22px; }
.faq-list .marker {
	font-size:15px !important;
	color:#900035;
	margin-top:2px;
}
.ie9 .wpcf7-form p input[type="text"], .ie9 .wpcf7-form p input[type="email"], .ie8 .wpcf7-form p input[type="text"], .ie8 .wpcf7-form p input[type="email"] { padding-top:10px; }
.ie8 .search-form .search-form_is {
	display:block;
	margin:0;
}
.ie8 .header-wrap {
	width:940px;
	margin-left:-470px;
	top:110px;
}
.ie8 .home .header-wrap { top:300px; }
.ie8 .nav__primary .sf-menu >li { margin-left:80px; }
.ie8 .nav__primary .sf-menu >li:after {
	display:none;
	bottom:-16px;
}
.ie8 .nav__primary .sf-menu >li:first-child { margin:0; }
.ie8 .nav__primary .sf-menu >li:hover ul { top:100%; }
.ie8 .nav__primary .sf-menu >li:hover li ul { top:-999em; }
.ie8 .nav__primary .sf-menu >li:hover:after { display:block; }
.ie8 .nav__primary .sf-menu >li.current-menu-item:after { display:block; }
.ie8 .nav__primary .sf-menu >li.current-menu-item >a {
	text-decoration:none;
	color:#900035;
	background:none;
}
.ie8 .nav__primary .sf-menu >li.current-menu-item >a .sf-sub-indicator { background-position:-10px -100px; }
.ie8 .nav__primary .sf-menu >li.sfHover:after { display:block; }
.ie8 .nav__primary .sf-menu >li.sfHover >a {
	text-decoration:none;
	color:#900035;
	background:none;
}
.ie8 .nav__primary .sf-menu >li.sfHover >a .sf-sub-indicator { background-position:-10px -100px; }
.ie8 .nav__primary .sf-menu >li.sfHover ul { top:100%; }
.ie8 .nav__primary .sf-menu >li.sfHover li ul { top:-999em; }
.ie8 .logo-wrap { padding:10px 0; }
.ie8 .logo .logo_tagline {
	display:block;
	text-align:center !important;
	width:100%;
	top:0;
}
.ie8 .logo .logo_tagline br { display:none; }
.ie8 .logo .logo_tagline.first { margin:0 0 10px 0; }
.ie8 .logo .logo_tagline.second { margin:5px 0 0 0; }
.ie8 .slider-wrap {
	width:1200px;
	margin-left:-600px;
}
.ie8 .camera { height:384px !important; }
.ie8 .home .camera { height:649px !important; }
.ie8 .home .camera .camera_pag { bottom:140px !important; }
.ie8 .camera .camera_pag { bottom:48px !important; }
.ie8 .camera .camera_thumbs { display:none !important; }
.ie8 .cameraSlide img { margin-top:-50px !important; }
.ie8 .home .cameraSlide img { margin-top:0 !important; }
.ie8 .camera_prev, .ie8 .camera_next, .ie8 .camera_commands { display:none !important; }
.ie8 div.type-page address h1 { font-size:15px; }
.ie8 .services-wrap { margin:40px 0; }
.ie8 .service-box .icon {
	background:#900035;
	margin:20px 0;
	padding:10px 0;
}
.ie8 .service-box .title { color:#900035; }
.ie8 .service-box .title:before { background:#900035; }
.ie8 .service-box .service-box_body { color:#900035; }
.ie8 .service-box.services-home:after { display:none; }
.ie8 .service-box.services-home:before { display:none; }
.ie8 .posts-grid.ideas li .thumbnail { width:100%; }
.ie8 .posts-grid.ideas li h5 { height:80px; }
.ie8 .posts-grid.our-team li .thumbnail { width:100%; }
.ie8 .testimonials.testi-home { margin-right:0; }
.ie8 .testi-btn { margin-right:0; }
.ie8 .comment-author {
	width:60px !important;
	height:auto !important;
	margin-right:30px;
}
.ie8 .comment-author img {
	width:60px !important;
	height:60px !important;
}
.ie8 .post-author_gravatar { width:60px !important; }
.ie8 .post-author_gravatar img { width:60px !important; }
.ie8 #respond #commentform p input {
	padding-top:10px;
	height:36px;
}
.ie8 #respond #commentform p input.btn {
	padding:0 0 1px 0;
	height:20px;
	line-height:1.3em;
}
.transition { transition:all 0.3s ease 0s; }
.clearfix { *zoom:1; }
.clearfix:before, .clearfix:after {
	display:table;
	content:"";
	line-height:0;
}
.clearfix:after { clear:both; }
.hide-text {
	font:0/0 a;
	color:transparent;
	text-shadow:none;
	background-color:transparent;
	border:0;
}
.input-block-level {
	display:block;
	width:100%;
	min-height:28px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
