/*import CherryFramework style*/
@import url("../CherryFramework/style.css");
@import url(//fonts.googleapis.com/css?family=Lobster|Open+Sans:300,400,600,700,800);

/* #General
================================================== */
.main-holder {
	overflow: hidden;
}
body {
	@media (max-width: 767px) {
		padding: 0;
		
		.header {
			padding: 0 20px 0 20px;
		}
		.footer {
			padding: 20px;
			.box-sizing(border-box);
		}
		.content-holder {
			padding: 0 20px 0 20px !important;
		}
		&.home {
			.content-holder {
				padding: 20px 20px 0 20px !important;
			}
		}
	}
}
a {
	.transition;
}
h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}
h1 {
	@media (min-width: 768px) and (max-width: 979px) {
		font-size: 20px !important;
		letter-spacing: 0 !important;
		line-height: 1.2em !important;
	}
}
.featured-thumbnail, 
.thumbnail,
figure.frame {
	background: none;
	border-radius: 0;
	padding: 0;
	border: none;
	box-shadow: none;
	.box-sizing(border-box);

	img {
		display: inline-block;
		border: none;
		background: none;
		padding: 0;
		.box-sizing(border-box);
	}
}
figure.frame {
	margin-bottom: 10px;
	margin-right: 30px;
	margin-left: 0;
	text-align: left;

	p {
		margin: 0 !important;
	}
	@media (max-width: 767px) {
		text-align: left;
	}
	&.alignnone {
		margin: 30px 0 25px;
	}
	&.alignleft {
		margin: 2px 20px 10px 0;

		@media (max-width: 979px) {
			margin: 0 0 20px 0;
			float: none;
		}
	}
	&.alignright {
		margin: 0 0 20px 10px;

		@media (min-width: 768px) and (max-width: 979px) {
			float: none;
			margin: 0 0 20px 0;
		}
		@media (max-width: 480px) {
			float: none;
			margin: 20px 0 20px 0;
		}
	}
}
.btn, 
.reply a {
	position: relative;
	display: inline-block;
	border-radius: 0;
	border: none;
	color: @red;
	text-shadow: none;
	font: bold 13px/1.2em @opensansFontFamily;
	text-transform: lowercase;
	padding: 0 0 1px 0;
	border-bottom: 1px solid @red;
	letter-spacing: 0;
	height: auto;
	box-shadow: none;
	text-decoration: none;
	z-index: 10;
	background: none;
	.box-sizing(border-box);
	.transition;

	&:hover,
	&:active {
		background: none;
		text-decoration: none;
		color: #8e805f;
		border-color: #8e805f;
		box-shadow: none;
	}
	&:focus {
		color: @red;
		border-color: @red;
		box-shadow: none;
		background: none;
	}
}
textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"],
input[type="tel"], 
input[type="color"], 
.uneditable-input {
	padding: 7px 10px;
	margin: 0 0 10px 0;
	font-size: 13px;
	line-height: 1.3em;
	text-transform: none;
	color: #8e805f;
	text-decoration: none;
	position: relative;
	border-radius: 0;
	background: #e4dbc3;
	box-shadow: none;
	border: 1px solid #cbc2ac !important;
	.transition;

	&:focus {
		background: none;
		box-shadow: none;
		border-color: @bordercolor !important;
	}
}
.wpcf7 {
	.wpcf7-form {
		p {
			margin-bottom: 10px;

			input[type="text"],
			input[type="email"] {
				margin: 0;
				.box-sizing(border-box);

				&:focus {
					border-color: #d8d8d8 !important;
				}
			}
		}
		textarea {
			padding: 10px 5px;
			margin-bottom: 10px;

			&:focus {
				border-color: #d8d8d8 !important;
			}
		}
		.btn-align {
			text-align: right;

			input[type="submit"], input[type="reset"] {
				height: auto;
				margin-left: 10px;
			}
			div.ajax-loader {
				float: left;
				margin-left: 10px;
			}
		}
		.wpcf7-not-valid-tip {
			padding: 5px 10px !important; 

			@media (min-width: 768px) and (max-width: 979px) {
				font-size: 9px !important;
			}
		}
		.submit-wrap {
			.btn {
				padding: 0;
				height: auto;
			}
		}
	}
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input { outline:none; }
select:-moz-placeholder, textarea:-moz-placeholder, input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="datetime"]:-moz-placeholder, input[type="datetime-local"]:-moz-placeholder, input[type="date"]:-moz-placeholder, input[type="month"]:-moz-placeholder, input[type="time"]:-moz-placeholder, input[type="week"]:-moz-placeholder, input[type="number"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="url"]:-moz-placeholder, input[type="search"]:-moz-placeholder, input[type="tel"]:-moz-placeholder, input[type="color"]:-moz-placeholder, .uneditable-input:-moz-placeholder { color: #8e805f; }
select:-ms-input-placeholder, textarea:-ms-input-placeholder, input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="datetime"]:-ms-input-placeholder, input[type="datetime-local"]:-ms-input-placeholder, input[type="date"]:-ms-input-placeholder, input[type="month"]:-ms-input-placeholder, input[type="time"]:-ms-input-placeholder, input[type="week"]:-ms-input-placeholder, input[type="number"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="url"]:-ms-input-placeholder, input[type="search"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="color"]:-ms-input-placeholder, .uneditable-input:-ms-input-placeholder { color: #8e805f; }
select::-webkit-input-placeholder, textarea::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="datetime"]::-webkit-input-placeholder, input[type="datetime-local"]::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder, input[type="month"]::-webkit-input-placeholder, input[type="time"]::-webkit-input-placeholder, input[type="week"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="url"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="color"]::-webkit-input-placeholder, .uneditable-input::-webkit-input-placeholder { color: #8e805f; }
select::-moz-placeholder, textarea::-moz-placeholder, input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="datetime"]::-moz-placeholder, input[type="datetime-local"]::-moz-placeholder, input[type="date"]::-moz-placeholder, input[type="month"]::-moz-placeholder, input[type="time"]::-moz-placeholder, input[type="week"]::-moz-placeholder, input[type="number"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="url"]::-moz-placeholder, input[type="search"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="color"]::-moz-placeholder, .uneditable-input::-moz-placeholder {
	color: #8e805f;
	opacity: 1;
}

/* #Header
================================================== */
.header {
	margin: 0;
	padding: 0;
	border: none;
}
.header-wrap {
	position: absolute;
	width: 1170px;
	left: 50%;
	top: 405px;
	margin-left: -585px;
	z-index: 2000;

	@media (min-width: 1200px) and (max-width: 1600px) {
		top: 272px;
	}
	@media (min-width: 979px) and (max-width: 1200px) {
		width: 940px;
		margin-left: -470px;
		top: 110px;
	}
	@media (min-width: 768px) and (max-width: 979px) {
		width: 724px;
		margin-left: -362px;
		top: 45px;
	}
	@media (max-width: 767px) {
		position: relative;
		width: 100%;
		left: 0;
		margin-left: 0;
		top: 0;
	}
}
.home {
	.header-wrap {
		top: 567px;
	
		@media (min-width: 1200px) and (max-width: 1600px) {
			top: 365px;
		}
		@media (min-width: 979px) and (max-width: 1200px) {
			top: 300px;
		}
		@media (min-width: 768px) and (max-width: 979px) {
			top: 220px;
		}
		@media (max-width: 767px) {
			top: 0;
		}
	}
}
.nav-wrap {
	position: relative;
	z-index: 100;
	background: #fff9e9;

	>div {
		position: relative;
		z-index: 10;
	}
	&:before {
		content: "";
		display: block;
		height: 100%;
		left: -100%;
		position: absolute;
		top: 0;
		width: 101%;
		background: #fff9e9;
		z-index: 1;
	}
	&:after {
		content: "";
		display: block;
		height: 100%;
		right: -100%;
		position: absolute;
		top: 0;
		width: 101%;
		background: #fff9e9;
		z-index: 1;
	}
}
.nav__primary { 
	position: relative;
	float: none;
	padding: 13px 0 16px;
	margin: 0;
	z-index: 100;
	background: none;

	@media (max-width: 767px) {
		margin: 0;
		padding: 20px 0;
	}
	.select-menu {
		height: 35px;
	}
	.sf-menu {
		float: none; 
		display: block;
		position: relative;
		text-align: center;
		padding: 0;
		margin: 0;
		z-index: 1;
		
		@media (max-width: 767px) {
			display: none !important;
		}
		>li {
			background: none;
			float: none;
			text-align: left;
			display: inline-block;
			position: relative;
			padding: 0;
			margin: 0 0 0 150px;
			border: none;
			.box-sizing(border-box);
			.transition;
			z-index: 10;
			
			@media (min-width: 979px) and (max-width: 1200px) {
				margin-left: 80px;
			}
			@media (min-width: 768px) and (max-width: 979px) {
				margin-left: 50px;
			}
			&:after {
				width: 0px;
				height: 0px;
				border-style: solid;
				border-width: 0 10.5px 11px 10.5px;
				border-color: transparent transparent @red transparent;
				content: '';
				position: absolute;
				bottom: -16px;
				opacity: 0;
				left: 50%;
				margin-left: -10px;
				.transition;
			}
			&:first-child {
				margin: 0;
			}
			&:hover {
				ul {
					top: 100%;
				}
				li ul {
					top: -999em;
				}
				&:after {
					opacity: 1;
				}
			}
			>a {
				border: none;
				padding: 0;
				display: inline-block;
				text-transform: uppercase;
				border-radius: 0;
				position: relative;
				font-weight: 800;
				letter-spacing: 2px;
				.box-sizing(border-box);
				.transition;
				background: none;

				&:hover {
					text-decoration: none;
					color: @red;
					background: none;

					.sf-sub-indicator {
						background-position: -10px -100px;
					}
				}
				>.sf-sub-indicator {
					position: absolute;
					display: inline-block;
					top: 10px;
					left: 50%;
					margin-left: -6px;
					background: url("images/arrows-ffffff.png") no-repeat scroll 0 -100px transparent;
				}
			}
			&.current-menu-item {
				&:after {
					opacity: 1;
				}
				>a {
					text-decoration: none;
					color: @red;
					background: none;

					.sf-sub-indicator {
						background-position: -10px -100px;
					} 
				}
			}
			&.sfHover {
				&:after {
					opacity: 1;
				}
				>a {
					text-decoration: none;
					color: @red;
					background: none;

					.sf-sub-indicator {
						background-position: -10px -100px;
					} 
				}
				ul {
					top: 100%;
				}
				li ul {
					top: -999em;
				}
			}
			>.sub-menu {
				background: @red;
				top: -999em;
				left: 0;
				width: 180px; 
				padding: 20px 0;
				margin: 20px 0 0 0;
				border: none;
				border-radius: 0;
				z-index: 10000;

				>.menu-item { 
					background: none;
					text-align: left;
					border: none;
					padding: 0;
					margin: 0;

					&:first-child {
						border: none;
					}
					&:hover {
						li ul {
							top: -999em; 
						}
					}
					a {
						margin: 0;
						background: none;
						border: none; 
						color: #fff9e9;
						text-transform: uppercase;
						display: block;
						letter-spacing: 0;
						border-radius: 0;
						padding: 0 20px;
						letter-spacing: 0;
						font: 800 12px/30px @opensansFontFamily;
						.transition;
						.box-sizing(border-box);

						&:hover {
							color: @red;
							text-shadow: none;
							background: #fff9e9;
						}
						>.sf-sub-indicator {
							top: 10px;
							left: auto;
							right: 12px;
							background: url("images/arrows-ffffff.png") no-repeat scroll 0 0 transparent;
						}
					}
					&.sfHover {
						li ul {
							top: -999em; 
						}
						>a {
							color: @red;
							text-shadow: none;
							background: #fff9e9;

							.sf-sub-indicator {
								background-position: -10px 0;
							}
						}
					}
					&.current-menu-item {
						a {
							color: @red;
							text-shadow: none;
							background: #fff9e9;
						}
					}
					>.sub-menu {
						background: #9e2a55;
						padding: 20px 0;
						margin: -20px 0 0 1px;
						top: 0;
						left: 100%;
						right: auto;
						border: none;
						border-radius: 0;
						width: 100%;

						>.menu-item {
							background: none;
							text-align: left;
							border: none;
							padding: 0;
							margin: 0;

							&:first-child {
								border: none;
							}
							&:hover {
								ul {
									top: 0;
									left: 10em;
								}
							}
							a {
								margin: 0;
								padding: 0 20px;
								color: #fff9e9;
								display: block;
								background: none; 

								&:hover {
									color: #9e2a55;
									text-shadow: none;
									background: #fff9e9;
								}
							}
							&.current-menu-item {
								a {
									color: #9e2a55;
									text-shadow: none;
									background: #fff9e9;
								}
							}
							&.sfHover {
								ul {
									top: 0;
									left: 10em;
								}
							}
						}
					}
				}
			}
		}
	}
}
/*/ Header */


/* Logo
================================================== */
.logo-wrap {
	background: #900035;
	position: relative;
	padding: 23px 0 20px;
	
	@media (max-width: 1200px) {
		padding: 10px 0;
	}
	@media (max-width: 767px) {
		margin-bottom: 20px;
	}
	>div {
		position: relative;
		z-index: 10;
	}
	&:before {
		content: "";
		display: block;
		height: 100%;
		left: -100%;
		position: absolute;
		top: 0;
		width: 101%;
		background: #900035;
		z-index: 1;
	}
	&:after {
		content: "";
		display: block;
		height: 100%;
		right: -100%;
		position: absolute;
		top: 0;
		width: 101%;
		background: #900035;
		z-index: 1;
	}
}
.logo {
	text-align: center;
	
	@media (min-width: 768px) and (max-width: 979px) {
		width: 100%;
	}
	.logo_tagline {
		display: inline-block;
		font: 300 18px/24px @opensansFontFamily;
		color: #fff;
		text-transform: uppercase;
		letter-spacing: 4px;
		width: 240px;
		position: relative;
		top: 16px;
		
		@media (max-width: 1200px) {
			display: block;
			text-align: center !important;
			width: 100%;
			top: 0;

			br {
				display: none;
			}
		}
		&.first {
			text-align: right;
			margin-right: 5px;

			@media (max-width: 1200px) {
				margin: 0 0 10px 0;
			}
		}
		&.second {
			text-align: left;
			margin-left: 20px;

			@media (max-width: 1200px) {
				margin: 5px 0 0 0;
			}
		}
	}
	.logo_h__txt {
		text-transform: none;
		display: inline-block;
		vertical-align: middle;

		@media (max-width: 480px) {
			font-size: 50px;
			line-height: 1.2em;
		}
		a {	
			@media (max-width: 480px) {
				font-size: 50px;
				line-height: 1.2em;
			}
			&:hover,
			&:active,
			&:focus {
				color: #fff9e9;
				text-decoration: none;
			}
		}
	}
}
/*/ Logo */


/* Slider
================================================== */
.slider-wrap {
	position: relative;
	width: 2000px;
	top: 0;
	z-index: 10;
	left: 50%;
	margin-left: -1000px;
	
	@media (min-width: 1200px) and (max-width: 1600px) {
		width: 1600px;
		margin-left: -800px;
	}
	@media (min-width: 979px) and (max-width: 1200px) {
		width: 1200px;
		margin-left: -600px;
	}
	@media (min-width: 768px) and (max-width: 979px) {
		width: 980px;
		margin-left: -490px;
	}
	@media (max-width: 767px) {
		width: 100%;
		margin: 0 0 20px 0;
		left: 0;
	}
	.container {
		width: 100%;
	}
	.row {
		margin: 0;
	}
	&.main {
		@media (max-width: 767px) {
			display: none !important;
		}
	}
	&.second {
		display: none;

		@media (max-width: 767px) {
			display: block;
		}
		.camera_loader {
			display: none !important;
			visibility: hidden !important;
		}
	}
}
.camera_overlayer {
	background: url(images/slider-alpha.png);
}
.camera {
	@media (min-width: 1600px) and (max-width: 5000px) {
		height: 640px !important;
	}
	@media (min-width: 1200px) and (max-width: 1600px) {
		height: 512px !important;
	}
	@media (min-width: 979px) and (max-width: 1200px) {
		height: 384px !important;
	}
	@media (min-width: 768px) and (max-width: 979px) {
		height: 314px !important;
	}
}
.home {
	.camera {
		@media (min-width: 1600px) and (max-width: 5000px) {
			height: 1082px !important;
		}
		@media (min-width: 1200px) and (max-width: 1600px) {
			height: 866px !important;
		}
		@media (min-width: 979px) and (max-width: 1200px) {
			height: 649px !important;
		}
		@media (min-width: 768px) and (max-width: 979px) {
			height: 530px !important;
		}
		.camera_pag {
			bottom: 334px !important;

			@media (min-width: 979px) and (max-width: 1200px) {
				bottom: 140px !important;
			}
			@media (min-width: 768px) and (max-width: 979px) {
				bottom: 100px !important;
			}
			@media (max-width: 767px) {
				bottom: 60px !important;
			}
		}
	}
}
.camera {
	margin-bottom: 0 !important;

	.camera_pag {
		position: relative;
		bottom: 59px !important;
		
		@media (min-width: 979px) and (max-width: 1200px) {
			bottom: 48px !important;
		}
		@media (min-width: 768px) and (max-width: 979px) {
			bottom: 50px !important;
		}
		@media (max-width: 767px) {
			bottom: 60px !important;
		}
		.camera_pag_ul {
			text-align: center;

			li {
				background: #fff9e9;
				width: 16px;
				height: 16px;
				border-radius: 50%;
				margin-left: 7px;
				margin-right: 0;

				&:first-child {
					margin-left: 0;
				}
				span {
					width: 16px;
					height: 16px;
					border-radius: 50%;
					left: 0;
					top: 0;
					background: none;
				}
				&.cameracurrent,
				&:hover {
					background: none;

					span {
						background: #900035;
					}
				}
			}
		}
	}
	.camera_thumbs {
		position: absolute;
		top: 0;
		width: 100%;

		.camera_thumbs_cont {
			background: none;
		}
		@media (max-width: 1200px) {
			display: none !important;
		}
	}
}
.cameraSlide img {
	margin-top: -80px !important;
	display: inline-block;

	@media (min-width: 979px) and (max-width: 1200px) {
		margin-top: -50px !important;
	}
	@media (min-width: 768px) and (max-width: 979px) {
		margin-top: -40px !important;
	}
	@media (max-width: 767px) {
		margin-top: 0 !important;
	}
}
.home {
	.cameraSlide img {
		margin-top: 0 !important;
	}
}
.camera_prev,
.camera_next,
.camera_commands {
	left: 50%;
	margin-left: -800px;

	@media (min-width: 1200px) and (max-width: 1600px) {
		margin-left: -600px;
		top: 40%;
	}
	@media (max-width: 1200px) {
		display: none !important;
	}
}
.camera_next {
	margin-left: 760px;

	@media (min-width: 1200px) and (max-width: 1600px) {
		margin-left: 560px;
	}
}
.camera_commands {
	margin-left: 720px;

	@media (min-width: 1200px) and (max-width: 1600px) {
		margin-left: 520px;
	}
}
/*/ Slider */


/* #Content
================================================== */
.content-holder {
	padding-bottom: 0;
}
.home {
	.content-holder {
		z-index: 100;

		&:before {
			position: absolute;
			width: 100%;
			height: 6px;
			background: @red;
			top: 0;
			left: 0;
		}
		>.container {
			position: relative;
		}
	}
}
.title-wrap {
	background: #e4dbc3;
	position: relative;
	
	>section {
		position: relative;
		z-index: 10;
	}
	&:before {
		content: "";
		display: block;
		height: 100%;
		left: -100%;
		position: absolute;
		top: 0;
		width: 101%;
		background: #e4dbc3;
		z-index: 1;
	}
	&:after {
		content: "";
		display: block;
		height: 100%;
		right: -100%;
		position: absolute;
		top: 0;
		width: 101%;
		background: #e4dbc3;
		z-index: 1;
	}
}
.title-section {
	margin: 0;
	padding: 20px 0 27px;
	text-align: center;
	background: none;
	position: relative;

	&:after {
		content: '';
		width: 0;
		height: 0;
		display: block;
		clear: both;
	}
	@media (max-width: 767px) {
		margin: 0;
	}
	.title-header {
		text-align: left;
		float: left;
		width: 50%;
		letter-spacing: 1px;
		margin: 3px 0 0 0;
		text-transform: uppercase;
		font: 30px/1.3em @opensansFontFamily !important;
		color: #8e805f;

		@media (max-width: 480px) {
			float: none;
			width: 100%;
			margin: 0 0 10px;
		}
	}
	.breadcrumb {
		float: right;
		text-align: right;
		width: 50%;
		background: none;
		padding: 0; 
		margin: 16px 0 0 0;
		text-transform: uppercase;
		text-shadow: none;
		letter-spacing: 1px;
		border: none;
		box-shadow: none;
		border-radius: 0;
		font: 14px/1.3em @opensansFontFamily;
		
		@media (max-width: 480px) {
			float: none;
			width: 100%;
			margin: 0;
			text-align: left;
		}
		>li {
			text-shadow: none;
			display: inline-block;
			line-height: 1.2em;
			
			@media (max-width: 767px) {
				display: block;
			}
			&.active {
				color: #8e805f;
			}
		}
		a {
			color: #900035;
			text-shadow: none;
		}
		.divider {
			padding: 0 20px;
			
			@media (max-width: 979px) {
				padding: 0 5px;
			}
			@media (max-width: 767px) {
				display: none;
			}
			&:after {
				color: #8e805f;
				content: "/";
				font: 14px/1.3em @opensansFontFamily;
			}
		}
	}
}
article {
	background: none;
	border: none;
	border-radius: 0;
	padding: 0;
	.box-sizing(border-box);

	&.post__holder {
		margin-bottom: 50px;
		overflow: visible;
	}
	.thumbnail {
		margin: 0 30px 20px 0;

		@media (max-width: 480px) {
			width: auto !important;
			display: inline-block;
			float: none;
			margin: 0 0 15px 0;

			img {
				width: 100%;
			}
		}
		&.large {
			margin: 0 0 30px 0;
			border-radius: 0;

			@media (min-width: 768px) and (max-width: 979px) {
				float: none !important;
			}
		}
	}
	.post-header {
		.post-title {
			text-align: left;
			font: 30px/1.3em @opensansFontFamily;
			margin-bottom: 35px;
			letter-spacing: 0;
			text-transform: uppercase;
			color: #8e805f;

			a {
				color: #8e805f;
			}
		}
	}
	.post_content {
		background: none;
		border-radius: 0;
		padding: 0;
		.box-sizing(border-box);
	}
	.post_meta {
		padding: 8px 0;
		border: none;
		position: relative;
		display: block;
		margin: 20px 0 20px;
		overflow: visible;
		background: none;
		border-top: 1px solid @bordercolor;
		border-bottom: 1px solid @bordercolor;
		border-radius: 0;
		.box-sizing(border-box);

		.post_meta_unite {
			font: 13px/1.2em @sansFontFamily;
			border-color: @bordercolor;
			text-transform: none;

			&:first-child {
				border: none;
			}
		}
		i {
			margin-right: 0;
			color: #8e805f;
			font-size: 15px;
		}
		.post_date {
			color: #8e805f;
		}
		.post_author a {
			color: #8e805f;
		}
		.post_category a, .post_tag a, .post_tag {
			color: #900035;
		}
		.post_comment a {
			color: #900035;
		}
		.user_like, .post_views {
			color: #900035;
		}
		.post_permalink {
			float: none;

			a {
				color: #900035;
			}
		}
	}
	div.jp-playlist li a:hover, div.jp-playlist li.jp-playlist-current a {
		color: #b8b8b8;
	}
	.quote-wrap {
		blockquote {
			font-family: @sansFontFamily;
			font-size: 15px;
			line-height: 1.2em;
			font-style: normal;
			color: #afafaf;
			font-weight: bold;
		}
	}
	.gallery-post {
		padding-bottom: 40px;
	}
	&.testimonial {
		background: none;
		border-color: @bordercolor;

		.user,
		.info {
			color: #222;
		}
	}
}
.single {
	#content {
		article {
			margin-bottom: 0;

			@media (min-width: 768px) and (max-width: 1000px) {
				.thumbnail {
					float: left;

					img {
						margin: 0;
					}
				}
			}
			@media (max-width: 480px) {
				.thumbnail {
					width: 100%;

					img {
						width: 100%;
					}
				}
			}
		}
		.share-buttons {
			margin: 10px 0 30px;
			background: none;
			padding: 0;
			.box-sizing(border-box);

			.pinterest {
				img {
					vertical-align: top;
				}
			}
		}
		.post-author {
			padding: 30px;
			border: none;
			background: #e5dcc4;
			border-radius: 0;

			.post-author_h {
				font: 30px/1.3em @opensansFontFamily;
				margin: 0 0 15px 0;
				letter-spacing: 1px;
				text-transform: uppercase;
				color: #8e805f;

				a {
					color: #8e805f;
					text-transform: uppercase;
				}
			}
			.post-author_gravatar {
				display: block;
				margin: 4px 20px 0 0;

				@media (max-width: 350px) {
					float: none;
					margin: 0 0 20px 0;
				}
				img {
					width: 60px;
					height: 60px;
					border-radius: 0;
					padding: 0;
					border: none;
					background: none;
				}
			}
			.post-author_desc {
				padding-left: 80px;
				text-transform: none;
				color: #8e805f;

				@media (max-width: 480px) {
					padding-left: 0;
				}
			}
			.post-author_link {
				margin-top: 20px;
				text-transform: none;
				color: @red;
				font: bold 13px/1.3em @sansFontFamily;

				p {
					margin: 0;
				}
				a {
					color: @red;
					font-size: 13px;
					text-transform: none;
				}
			}
		}
	}
}
#content.row {
	padding-top: 35px;
}
.filter-wrapper {
	margin: 15px 0 35px;

	@media (max-width: 767px) {
		margin: 20px 0;
	}
	strong {
		color: #8e805f;
		padding: 0;
		font: 20px/1.2em @opensansFontFamily;
		margin-right: 21px;
		margin-top: 0px;
		text-transform: uppercase;
		letter-spacing: 0;
		float: none;
		display: inline-block;
		vertical-align: top;

		@media (max-width: 979px) {
			display: block;
			float: none;
			margin-bottom: 20px;
		}
	}
	.filter {
		margin: 0;
		display: inline-block;
		float: none;
		position: relative;
		top: 0;

		@media (max-width: 767px) {
			float: none;
			display: block;
		}
		li {
			margin: 0 0 0 18px;
			
			&:first-child {
				margin: 0;
			}
			@media (min-width: 768px) and (max-width: 979px) {
				margin: 0 10px 10px 0 !important;
			}
			@media (max-width: 767px) {
				display: block;
				float: none;
				margin: 0 0 5px 0 !important;
			}
			a {
				color: #8e805f;
				font: 20px/1.2em @opensansFontFamily;
				padding: 0;
				margin: 0;
				background: none;
				border-radius: 0;
				text-transform: uppercase;
				letter-spacing: 0;

				@media (max-width: 767px) {
					display: inline-block;
				}
				&:active, &:hover, &:focus {
					text-decoration: none;
					color: @red;
					background: none;
				}
			}
		}
		.active {
			a {
				text-decoration: none;
				color: @red;
				background: none;
			}
		}
	}
	@media (max-width: 979px) {
		.pull-right {
			float: none;
		}
	}
}
.filterable-portfolio {
	li {
		.thumbnail {
			margin: 0 0 15px 0;
		}
		.caption {
			h3 {
				text-shadow: none;
				margin: 0 0 10px;
				font: 20px/1.2em @opensansFontFamily;
				letter-spacing: 0;

				a {
					color: @red;
					text-transform: uppercase;
					text-decoration: none;

					&:hover, &:active {
						text-decoration: underline;
					}
				}
			}
			.excerpt {
				margin-bottom: 15px;
				color: #8e805f;
				letter-spacing: 0;
				line-height: 18px;
			}
			p {
				margin: 0;
			}
			.btn {
				font-family: @sansFontFamily;
			}
		}
	}
}
div.pagination {
	padding: 30px 0;

	ul {
		box-shadow: none;
		border-radius: 0;

		li {
			border-radius: 0;

			a {
				margin: 0 0 0 20px;
				border: none;
				background: none;
				border-radius: 0;
				padding: 0;
				font: bold 22px/1.2em @opensansFontFamily;
				color: @red;

				&:hover,
				&:active,
				&:focus {
					background: none;
				}
			}
			&:first-child {
				margin: 0;
			}
			span {
				background: none;
			}
			&.active,
			&:hover,
			&:active {
				a {
					color: #8e805f;
					background: none;
				}
			}
		}
	}
}
ul.pager {
	padding: 10px 0;
	border-color: @bordercolor;

	li {
		a {
			border: none;
			background: none;
			padding: 0;
			font: bold 22px/1.2em @opensansFontFamily;
			color: @red;

			&:hover,
			&:active {
				background: none;
				color: #8e805f;
			}
		}
	}
}
.portfolio-meta {
	border-color: @bordercolor;

	i {
		color: #8e805f;
	}
}
.portfolio-meta-list {
	border-color: @bordercolor;
}
div.type-page {
	h1 {
		letter-spacing: 2px;
		margin-bottom: 25px;

		@media (min-width: 768px) and (max-width: 979px) {
			letter-spacing: 0;
		}
		@media (max-width: 767px) {
			margin: 30px 0 20px;
		}
	}
	p {
		margin-bottom: 18px;
	}
	.extra-wrap {
		p {
			padding-left: 49px;
			margin-bottom: 21px;
		}
		strong {
			color: @red;
			float: left;
			margin-left: -49px;
			margin-top: 0;
		}
	}
	.list.custom-list {
		margin-bottom: 19px;
	}
	address {
		font: 12px/18px @opensansFontFamily;
		color: @red;
		letter-spacing: 1px;
		text-transform: uppercase;
		
		@media (min-width: 768px) and (max-width: 979px) {
			font-size: 10px;
			letter-spacing: 0;
		}
		a {
			text-decoration: underline;

			@media (min-width: 768px) and (max-width: 979px) {
				font-size: 8px;
			}
		}
		p {
			margin-bottom: 10px;
		}
		h1 {
			font: 800 20px/1em @opensansFontFamily;
			color: @red;
			letter-spacing: 1px;
			margin: 0 0 10px;
			
			@media (min-width: 979px) and (max-width: 1200px) {
				font-size: 15px;
			}
			@media (min-width: 768px) and (max-width: 979px) {
				font-size: 12px;
			}
		}
	}
}
/*/ Content */



/* #Comments
================================================== */
.related-posts, .comment-holder, #respond {
	margin-top: 50px;

	h3 {
		font: 30px/1.2em @opensansFontFamily;
		margin: 0 0 25px;
		text-align: left;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
}
.related-posts {
	a {
		font: bold 13px/1.2em @sansFontFamily;
		color: @red;
		display: inline;
		letter-spacing: 0;
		text-transform: none;

		&:hover {
			text-decoration: underline;
		}
	}
	.thumbnail {
		.box-sizing(border-box);

		a {
			display: inline-block;
			width: 100%;
		}
		img {
			.box-sizing(border-box);
		}
	}
}
.comment-holder {
	.pagination {
		padding: 0;
	}
	.comment-list {
		.comment {
			.comment-body {
				padding: 30px;
				background: #e4dbc3;
				border-radius: 0;
				border: none;

				.comment-author {
					margin: 5px 20px 0 0;
					text-align: left;
					border: none;

					@media (max-width: 350px) {
						float: none;
						margin-bottom: 30px;
					}
					img { 
						width: 60px;
						height: 60px;
						padding: 0;
						border: none;
						background: none;
					}
					.author {
						width: auto;
						text-align: center;
						font: bold 13px/1.3em @sansFontFamily;
						color: #8e805f;
						text-transform: none
					}
				}
				.extra-wrap {
					padding: 0;
					margin: 0;
					background: none;
					color: #8e805f;
					text-transform: none;

					@media (max-width: 480px) {
						overflow: visible;
					}
				}
				.comment-meta {
					margin: 1px 0 0 0;
					font: bold 13px/1.3em @sansFontFamily;
					color: #8e805f;
					text-transform: none;
				}
				.reply a {
					text-transform: none;
					border: none;
					font-family: @sansFontFamily
				}
			}
		}
	}
	#respond {
		padding-bottom: 20px;

		#commentform {
			margin-top: 0;
		}
	}
}
#respond {
	padding-bottom: 40px;

	#commentform {
		margin: 15px 0 0;

		textarea {
			width: 100%;
			min-width: auto;
			max-width: 100%;
			.box-sizing(border-box);
			height: 300px;
			min-height: auto;
			max-height: auto;
			min-width: auto;
			padding: 12px 10px 10px;
		}
		p {
			input {
				.box-sizing(border-box);
				max-width: auto;
				min-width: auto;
				width: 100%;
				padding: 0 10px;
				height: 35px;
				margin-bottom: 2px;

				&:focus {
					box-shadow: none;
				}
				&.btn {
					margin: 20px 0 0 0;
					width: auto;
					height: 20px;
					padding: 0;
				}
			}
			&.right-align {
				text-align: right;
				margin: 0;
			}
		}
	}
}
/*/ Comments */



/* #Widgets
================================================== */
.sidebar {
	.widget {
		margin: 10px 0 60px;
		
		>h3 {
			margin: 0 0 20px 0;
			font: 30px/1.3em @opensansFontFamily;
			letter-spacing: 1px;
			display: block;
			text-transform: uppercase;
		}
	}
}
[id*="categories"], 
[id*="archives"], 
[id*="nav_menu"],
.list.custom-list {
	ul {
		margin: 0;
		list-style-type: none;

		@media (max-width: 767px) {
			margin-top: 30px;
		}
		li {
			background: url(images/arrow.png) no-repeat 0 8px;
			margin: 0;
			padding: 3px 0 3px 16px;
			
			&:before {
				display: none;
			}
			a {
				font: bold 13px/1.3em @sansFontFamily;
				color: @red;
				text-transform: none;
				display: inline;
				position: relative;

				&:hover,
				&:active {
					color: #8e805f;
					text-decoration: none;
					background: none;
				}
			}
		}
	}
}
[id*="my_poststypewidget"] {
	.post-list {
		margin: 20px 0 0 0;

		li {
			padding: 30px 0 0 0;
			overflow: visible;

			&:first-child {
				padding: 0;
			}
			.thumbnail {
				margin: 5px 20px 15px 0;
				float: left;

				@media (min-width: 768px) and (max-width: 979px) {
					float: none;
					margin: 0 0 20px 0;
					display: block;
				}
				@media (max-width: 480px) {
					float: none;
					margin: 0 0 20px 0;
					display: block;
				}
			}
			.post-list_h {
				font: bold 13px/18px @sansFontFamily;
				text-transform: none;
				letter-spacing: 0;
				margin: 8px 0 0;
				display: block;

				a {
					color: @red;
				}
			}
			time,
			.post-list_comment {
				display: inline-block;
				padding: 0px 0 0;
				color: #8e805f;
				font: 13px/18px @sansFontFamily;
			}
			.post-list_comment {
				&:before {
					content: '/';
					padding: 0 5px;
				}
			}
			.excerpt {
				overflow: hidden;
				margin: 0 0 15px;
				color: #8e805f;
				line-height: 18px;
			}
		}
	}
}
#wp-calendar {
	caption,
	thead tr th {
		color: @red;
		font-family: @opensansFontFamily;
	}
}
.search-form {
	.search-form_is {
		margin: 4px 0 0 10px;
		padding-top: 1px;
		padding-bottom: 1px;
		height: 20px;

		@media (min-width: 768px) and (max-width: 1200px) {
			display: block;
			margin: 0;
		}
		@media (max-width: 400px) {
			display: block;
			margin: 0;
		}
	}
}
#content.left,
#sidebar {
	@media (max-width: 767px) {
		float: none !important;
	}
}
/*/ Widgets */



/* #Shortcodes
================================================== */
.well {
	background: #e4dbc3;
	position: relative;
	border: none;
	border-radius: 0;
	box-shadow: none;
	padding: 34px 0;
	margin: 30px 0 -0;
	
	&:before {
		content: "";
		display: block;
		height: 100%;
		left: -100%;
		position: absolute;
		top: 0;
		width: 100%;
		background: #e4dbc3;
	}
	&:after {
		content: "";
		display: block;
		height: 100%;
		right: -100%;
		position: absolute;
		top: 0;
		width: 100%;
		background: #e4dbc3;
	}
}
.home {
	.well {
		padding-bottom: 10px;
	}
}
.posts-grid.our-team {
	li {
		margin-bottom: 0;

		.thumbnail {
			margin: 0 0 25px;
		}
		h5 {
			font: bold 13px/18px @sansFontFamily;
			margin: 0;
			text-transform: none;

			a {
				color: @red;
			}
		}
	}
}
.services-wrap {
	margin-top: -260px;
	margin-bottom: 50px;

	@media (max-width: 1200px) {
		margin: 40px 0;
	}
	@media (max-width: 767px) {
		margin: 30px 0;
	}
}
.service-box {
	background: none;
	border: none;
	border-radius: 0;
	padding: 0;
	box-shadow: none;
	text-align: center;
	
	@media (max-width: 767px) {
		margin-bottom: 20px;
	}
	.icon {
		float: none;

		@media (max-width: 1200px) {
			background: @red;
			margin: 20px 0;
			padding: 10px 0;
		}
	}
	.title {
		font: 32px/1em @lobsterFontFamily;
		color: #fff9e9;
		margin-bottom: 7px;
		text-transform: lowercase;
		
		@media (max-width: 1200px) {
			color: @red;
		}
		&:before {
			content: '';
			width: 70px;
			height: 2px;
			background: #fff9e9;
			position: relative;
			left: 50%;
			margin-left: -35px;
			display: block;
			margin: 0 0 15px -35px;

			@media (max-width: 1200px) {
				background: @red;
			}
		}
	}
	.service-box_body {
		padding: 0 20px;
		color: #fff9e9;

		@media (max-width: 1200px) {
			color: @red;
		}
	}
	&.services-home {
		position: relative;
		overflow: visible;

		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 6px;
			background: #f0eadb;
			bottom: -34px;
			left: 0;
			opacity: 0;
			.transition;

			@media (max-width: 1200px) {
				display: none;
			}
		}
		&:before {
			content: '';
			position: absolute;
			width: 0px;
			height: 0px;
			border-style: solid;
			border-width: 0 14.5px 15px 14.5px;
			border-color: transparent transparent #f0eadb transparent;
			bottom: -28px;
			left: 50%;
			margin-left: -15px;
			opacity: 0;
			.transition;

			@media (max-width: 1200px) {
				display: none;
			}
		}
		&:hover {
			&:before,
			&:after {
				opacity: 1;
			}
		}
	}
}
.posts-grid.ideas {
	li {
		width: 33.33333%;
		margin: 0;
		background: #900035 url(images/header-alpha.png) no-repeat 100% 100%;
		.transition;
		
		@media (max-width: 767px) {
			float: left;
			padding: 10px 10px 0 10px;
		}
		@media (max-width: 480px) {
			float: none;
			width: 100%;
			margin: 0 0 10px 0;
		}
		&:hover {
			background: #8e805f;
		}
		.thumbnail {
			@media (max-width: 767px) {
				float: none;
				margin: 0;
				text-align: center;
				display: block;

				a {
					text-align: center;
					display: inline-block;
				}
			}
		}
		.excerpt {
			display: none;
		}
		h5 {
			margin: 0;
			padding: 0 20px;
			height: 58px;
			.box-sizing(border-box);
			display: table-cell;
			letter-spacing: 1px;
			vertical-align: middle;
			font: 14px/18px @opensansFontFamily;
			position: relative;
			
			@media (max-width: 1200px) {
				height: 80px;
			}
			a {
				color: #ffffff;
				display: inline-block;

				&:hover,
				&:active {
					text-decoration: none;
				}
			}
		}
	}
}
.testimonials { 
	.testi-item {
		margin: 0;
		padding: 0 0 5px 0;

		.testi-item_blockquote {
			padding: 0;
			border-radius: 0;
			background: none;
			
			&:before,
			&:after {
				display: none;
			}
			.featured-thumbnail {
				margin: 0 30px 0 0;
				position: relative;
				width: auto;
				height: auto;
				overflow: visible;
				
				img {
					border: 4px solid #f0eadb;
				}
				&:before {
					position: absolute;
					content: '';
					width: 0px;
					height: 0px;
					border-style: solid;
					border-width: 0 16px 16px 0;
					border-color: transparent #f0eadb transparent transparent;
					right: -34px;
					top: 8px;
				}
				small {
					padding: 20px 0 0 0;
					width: 70px;
					display: block;
					
					&:before {
						display: none;
					}
					span {
						font: 12px/16px @opensansFontFamily;
						color: @red;
						display: block;
						letter-spacing: 1px;

						&.user {
							text-transform: uppercase;
						}
						&.info {
							text-transform: lowercase;

							&:before {
								content: '(';
							}
							&:after {
								content: ')';
							}
						}
					}
					a {
						display: none;
					}
				}
			}
			>div {
				overflow: hidden;
				padding: 10px 20px 20px;
				background: #f0eadb;
				position: relative;

				a {
					color: #8e805f;

					&:before,
					&:after {
						content: '';
						display: inline-block;
						width: 14px;
						height: 9px;
						background: url(images/quote-open.png) no-repeat;
						margin-right: 5px;
					}
					&:after {
						background: url(images/quote-close.png) no-repeat;
						margin: 0 0 0 5px;
					}
				}
			}
		}
	}
	&.testi-home {
		margin-right: 100px;

		@media (max-width: 1200px) {
			margin-right: 0;
		}
	}
}
.testi-btn {
	margin-right: 100px;

	@media (max-width: 1200px) {
		margin-right: 0;
	}
}
.dropcap {
	display: block;
	float: none;
	width: auto;
	height: auto;
	border-radius: 0;
	background: none;
	text-align: left;
	font: 30px/1em @lobsterFontFamily;
	color: @red;
	margin: 20px 0 9px 0;
	letter-spacing: 1px;

	@media (max-width: 767px) {
		margin: 30px 0 9px;
	}
}
/*/ Shortcodes */



/* #Footer
================================================== */
.footer {
	padding: 55px 0 60px;
	border-top: 7px solid #e4dbc3;
	background: none;
}
.copyright {
	padding: 0;
}
.footer-text {
	font: 800 11px/1.2em @opensansFontFamily;
	color: #8e805f;
	text-transform: uppercase;
	letter-spacing: 1px;
	
	@media (min-width: 768px) and (max-width: 979px) {
		font-size: 10px;
		letter-spacing: 0;
	}
	@media (max-width: 767px) {
		text-align: left;
	}
	a {
		color: #8e805f;
	}
	.site-name {
		font: 30px/1em @lobsterFontFamily;
		color: #8e805f;
		text-transform: none;
		letter-spacing: 0;
		margin: 0 0 5px;
		display: inline-block;

		@media (min-width: 768px) and (max-width: 979px) {
			font-size: 25px;
		}
	}
	span {
		display: inline-block;
		padding-left: 5px;
	}
}
nav.nav.footer-nav {
	float: none;
	margin: 40px 0 0;

	ul {
		float: none;
		text-align: right;

		@media (max-width: 767px) {
			text-align: left;
		}
		li {
			float: none;
			display: inline-block;
			padding: 0;
			text-transform: none;
			margin: 0;
			padding: 0 0 5px 7px;

			&:first-child {
				padding: 0;

				&:before {
					display: none;
				}
			}
			a {
				padding-bottom: 0;
				border-bottom: 1px solid transparent;
			}
			&.current-menu-item a, a:hover {
				color: @red;
				border-color: @red;
				text-decoration: none;
			}
		}
	}
}
/*/ Footer */


/* #Misc
================================================== */
#back-top-wrapper {
	p {
		a {
			width: 41px;
			height: 41px;
			border-radius: 50%;
			opacity: 1;

			&:hover {
				background: none;

				span {
					background-color: #1c1c1c;
				}
			}
			span {
				width: 41px;
				height: 41px;
				border-radius: 50%;
				background: @red;
				position: relative;
				.transition;

				&:after {
					content: "";
					font: 15px/1em FontAwesome;
					color: #fff;
					position: absolute;
					top: 50%;
					left: 50%;
					margin: -8px 0 0 -5px;

				}
			}
		}
	}
}
.google-map, 
.flexslider {
	background: url(images/loading.gif) 50% 50% no-repeat;
}
div.ajax-loader,
.ajax-loader {
	position: relative;
	top: -5px;
	background-image: url(images/loading.gif);
	width: 24px;
	padding: 24px 0 0 0;
	height: 0px !important;
}
.error404-holder {
	padding: 80px 0;

	.error404-holder_num {
		color: @red;

		@media (min-width: 768px) and (max-width: 979px) {
			font-size: 150px;
		}
	}
	
}
.archive_h {
	@media (max-width: 767px) {
		margin-top: 30px;
	}
}
blockquote p {
	line-height: 22px;
}
.faq-list {
	.marker {
		font-size: 15px !important;
		color: @red;
		margin-top: 2px;
	}
}
.ie9, .ie8 {
	.wpcf7-form {
		p {
			input[type="text"],
			input[type="email"] {
				padding-top: 10px;
			}
		}
	}
}
.ie8 {
	.search-form {
		.search-form_is {
			display: block;
			margin: 0;
		}
	}
	.header-wrap {
		width: 940px;
		margin-left: -470px;
		top: 110px;
	}
	.home {
		.header-wrap {
			top: 300px;
		}
	}
	.nav__primary { 
		.sf-menu {
			>li {
				margin-left: 80px;

				&:after {
					display: none;
					bottom: -16px;
				}
				&:first-child {
					margin: 0;
				}
				&:hover {
					ul {
						top: 100%;
					}
					li ul {
						top: -999em;
					}
					&:after {
						display: block;
					}
				}
				&.current-menu-item {
					&:after {
						display: block;
					}
					>a {
						text-decoration: none;
						color: @red;
						background: none;

						.sf-sub-indicator {
							background-position: -10px -100px;
						} 
					}
				}
				&.sfHover {
					&:after {
						display: block;
					}
					>a {
						text-decoration: none;
						color: @red;
						background: none;

						.sf-sub-indicator {
							background-position: -10px -100px;
						} 
					}
					ul {
						top: 100%;
					}
					li ul {
						top: -999em;
					}
				}
			}
		}
	}
	.logo-wrap {
		padding: 10px 0;
	}
	.logo {
		.logo_tagline {
			display: block;
			text-align: center !important;
			width: 100%;
			top: 0;

			br {
				display: none;
			}

			&.first {
				margin: 0 0 10px 0;
			}
			&.second {
				margin: 5px 0 0 0;
			}
		}
	}
	.slider-wrap {
		width: 1200px;
		margin-left: -600px;
	}
	.camera {
		height: 384px !important;
	}
	.home {
		.camera {
			height: 649px !important;

			.camera_pag {
				bottom: 140px !important;
			}
		}
	}
	.camera {
		.camera_pag {
			bottom: 48px !important;
		}
		.camera_thumbs {
			display: none !important;
		}
	}
	.cameraSlide img {
		margin-top: -50px !important;
	}
	.home {
		.cameraSlide img {
			margin-top: 0 !important;
		}
	}
	.camera_prev,
	.camera_next,
	.camera_commands {
		display: none !important;
	}
	div.type-page {
		address {
			h1 {
				font-size: 15px;
			}
		}
	}
	.services-wrap {
		margin: 40px 0;
	}
	.service-box {
		.icon {
			background: @red;
			margin: 20px 0;
			padding: 10px 0;
		}
		.title {
			color: @red;

			&:before {
				background: @red;
			}
		}
		.service-box_body {
			color: @red;
		}
		&.services-home {
			&:after {
				display: none;
			}
			&:before {
				display: none;
			}
		}
	}
	.posts-grid.ideas {
		li {
			.thumbnail {
				width: 100%;
			}
			h5 {
				height: 80px;
			}
		}
	}
	.posts-grid.our-team {
		li {
			.thumbnail {
				width: 100%;
			}
		}
	}
	.testimonials { 
		&.testi-home {
			margin-right: 0;
		}
	}
	.testi-btn {
		margin-right: 0;
	}
	.comment-author {
		width: 60px !important;
		height: auto !important;
		margin-right: 30px;

		img {
			width: 60px !important;
			height: 60px !important;
		}
	}
	.post-author_gravatar {
		width: 60px !important;

		img {
			width: 60px !important;
		}
	}
	#respond {
		#commentform {
			p {
				input {
					padding-top: 10px;
					height: 36px;

					&.btn {
						padding: 0 0 1px 0;
						height: 20px;
						line-height: 1.3em;
					}
				}
			}
		}
	}
}
/*/ Misc */


@import "bootstrap/less/variables.less";
@import "bootstrap/less/mixins.less";