/*--
	Theme Name: theme48921
	Theme URI: http://template-help.com/
	Description: A theme for Wordpress 3.7.x + from Template-Help.com Collection
	Author: Template_Help.com
	Author URL: http://www.Template-Help.com/
	Template: CherryFramework
	Version: 3.0
	MotoPress Version: 1.0
--*/
@import url("main-style.css");

/* ----------------------------------------
	Please, You may put custom css here
---------------------------------------- */

body.home .header-wrap, body.page .header-wrap, body.blog .header-wrap {
    top: 0;
}
body .slider-wrap {
    top: 175px;
}

body.home .camera {
   height: 480px;
}

@media (min-width: 1600px) and (max-width: 5000px) {
	body.home .camera { height:480px !important; }
}
@media (min-width: 1200px) and (max-width: 1600px) {
	body.home .camera { height:360px !important; }
}
@media (min-width: 979px) and (max-width: 1200px) {
	body.home .camera { height:280px !important; }
}
@media (min-width: 768px) and (max-width: 979px) {
	body.home .camera { height:140px !important; }
}

body.home .camera .camera_pag {
    bottom: 50px !important;
}

body .services-wrap {
    margin-top: 175px;
}

body .content-holder {
  top: 175px;
}

body .footer {
    position: static;
    padding-top: 210px;
}